@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,700&display=swap');

html,
body {
    width: 100%;
    display: block;
}

.homeMain {
    max-width: 982px;
    padding: 0 16px;
    margin: 0 auto;

    .collection-section:first-child {
        margin-top: 64px;
    }

    .collection-section {
        margin-bottom: 64px;

        .scalloped-inner-box {
            position: relative;
            z-index: 2;

            .collection-title,
            .collection-subtitle {
                color: #333030;
                font-family: "manrope-regular";
                text-align: center;
            }

            .collection-title {
                font-size: 24px;
                margin-bottom: 16px;
                font-weight: 800;
            }

            .collection-subtitle {
                font-size: 16px;
            }

            .oz-collection-page-content {
                padding: 32px 0 0 0 !important;
            }

            .collections-lists {
                max-width: 1000px;

                .oz-collection-product-card-listing-testB-carousels {
                    .flickity-prev-next-button {
                        width: 44px !important;
                        height: 44px !important;

                        .flickity-button-icon {
                            fill: #333030;
                        }

                    }

                    .flickity-button {
                        background: none !important;
                    }
                }
            }
        }
    }

    .section-divider {
        text-align: center;
        margin-bottom: 64px;
    }

    .loved-by-millions-container {
        text-align: center;
        margin-bottom: 64px;

        .loved-by-millions-title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 22px;
        }

        .loved-by-millions-subtitle {
            margin-bottom: 32px;
        }
    }

    .other-cards-section {
        max-width: 950px;
        text-align: center;
        margin-bottom: 64px;

        .other-cards-head {
            .certificate-title {
                color: #333030;
            }

            .certificate-subtitle {
                font-size: 16px;
            }
        }
    }

    .in-the-news-container {
        margin-bottom: 32px;

        .in-the-news-title {
            text-align: center;
            font-size: 24px;
            text-transform: capitalize;
            font-weight: 700;
            margin-bottom: 32px;
        }

        .in-the-news-subtitle {
            font-size: 16px;
            line-height: 24px;
        }
    }
}


#home-container h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03px;
    text-align: center;
    margin-top: 64px;
}

.homeSection {
    margin: 0 auto 64px !important;
    max-width: inherit !important;
}

.homeCategoryBanner {
    display: flex;
    margin-bottom: 64px;
    gap: 32px;
}

.homeCategoryBannerRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
}

.hero-banner {
    aspect-ratio: 1280/341;
}

.ht-test-banner-web {
    aspect-ratio: 475/126;
}

.product-recommendation {
    aspect-ratio: 47/4;
}

.hartarahsebetter-section {
    aspect-ratio: 166 / 205;
    border-radius: 6px;
}

.OZiva_Purpose {
    aspect-ratio: 15/4;
}

.homeCategoryBanner .slim_banner {
    flex: 0.5;
    min-width: calc(50% - 32px);
    padding: 0;
}

.homeCategoryBanner .slim_banner img {
    display: block;
    border-radius: 8px;
}

.lovedby_card_image iframe,
.lovedby_card_image video {
    width: 100%;
    border-radius: 8px 8px 0 0 !important;
}

.carousel_lovedby_card {
    border-radius: 8px 8px 0 0 !important;
}

.title_container {
    .img-title {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 11px;

        img {
            width: 300px;
            padding-bottom: 16px;
        }
    }
}

.homeMain .title_container h2,
.other-cards-head h2,
.lovedby_container h2 {
    font-size: 22px !important;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03px;
    margin-bottom: 32px;
    color: #333030 !important;

    &.text-secondaryDeepGreen {
        color: #006e5a !important;
    }
}

.other-cards-head {
    margin-bottom: 32px;

    h2 {
        margin-bottom: 16px;
    }
}

.other-cards-head p {
    font-size: 14px;
    line-height: 16px;
    color: #424242;
}

.badge-row {
    column-gap: 64px !important;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image_badge_container {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
}

.badge_text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #006E5A;
    font-weight: 500;
    width: 80px;
    text-align: left;
}

.other-cards-row {
    position: relative;
    justify-content: center;
    column-gap: 16px;
    overflow: auto;
}

.other-cards-cards {
    max-width: 166px;
    min-width: 166px;
    color: #006E5A;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.048px;

    .banner-image-click {
        margin-bottom: 12px;
    }

    .protein-section {
        border-radius: 6px;
        margin-bottom: 0;
        width: 166px;
        height: 249px;
    }
}

p.lbm-txt {
    margin: 0 0 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.048px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 48px;
}

p.lbm-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.012px;
}

.wave-cards-row {
    padding-top: 32px;
    column-gap: 32px;

    .other-cards-cards:nth-child(2) {
        margin-top: -32px;
    }
}

.hair-personalized-plan-section {
    .heading {
        color: #333030;
        font-size: 22px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.033px;
    }

    .hair-personalized-plan-content {
        border-radius: 4px;
        border: 1px solid#C8E6C8;
        background: #F0FAF0;
        padding: 16px;
        display: flex;
        gap: 32px;

        img {
            margin: -45px 0 -17px 0;
        }

        .hair-personalized-plan-right {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .hair-personalized-plan-right-top {
                color: #333030;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0.021px;
                display: flex;
                align-items: center;
                margin: 0;
            }

            .hair-personalized-plan-right-buttons {
                display: flex;
                gap: 16px;

                button {
                    color: #006E5A;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    letter-spacing: 0.021px;
                    border-radius: 4px;
                    border: 1px solid #006E5A;
                    background: transparent;
                    padding: 8.5px 16px;

                    &:last-child {
                        border-color: transparent;
                        padding: 8px 0;
                    }
                }
            }
        }
    }
}

.regrowthLanding {
    .QuizLandingPage-banner-buttons {
        position: absolute;
        display: flex;
        top: 73.5%;
        left: 28%;

        .view-result-button {
            font-size: 19px;
            background: transparent;
            padding-bottom: 4px;
            padding-top: 4px;
            color: #004141;
            box-shadow: 0px 0px 12px 0px rgba(0, 65, 65, 0.24);
            border-radius: 2px;
        }
    }
}

.homepage {
    .QuizLandingPage-banner-buttons {
        position: absolute;
        display: flex;
        top: 78%;
        left: 24%;

        .view-result-button {
            font-size: 12px;
            background: transparent;
            padding-bottom: 3px;
            padding-top: 3px;
            color: #004141;
            box-shadow: 0px 0px 12px 0px rgba(0, 65, 65, 0.24);
            border-radius: 2px;
        }
    }
}

.collection-ht-entry {
    .QuizLandingPage-banner-section {
        padding: 0;
    }

    img {
        border-radius: 4px;
    }

    .QuizLandingPage-banner-buttons {
        position: absolute;
        display: flex;
        top: 77%;
        left: 23%;

        .view-result-button {
            font-size: 11px;
            background: transparent;
            padding: 1px 8px;
            color: #004141;
            box-shadow: 0px 0px 12px 0px rgba(0, 65, 65, 0.24);
            border-radius: 2px;
        }
    }
}

.collection-ht-new {
    .QuizLandingPage-banner-section {
        padding: 0;
    }

    img {
        border-radius: 4px;
    }

    .QuizLandingPage-banner-buttons {
        position: absolute;
        display: flex;
        top: 78%;
        left: 23%;

        .view-result-button {
            font-size: 12px;
            background: transparent;
            padding: 3px 10px;
            color: #004141;
            box-shadow: 0px 0px 12px 0px rgba(0, 65, 65, 0.24);
            border-radius: 2px;
        }
    }
}

.bubbles-supersale::-webkit-scrollbar {
    display: none;
}

.fixed-bubbles {
    position: fixed;
    background: #FFF;
    z-index: 999;
    left: 0;
    right: 0;
}

.relative-positioning {
    margin-top: 0;
}

.bubbles-supersale {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    padding: 32px 32px 16px 32px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border-bottom: 1px solid #E6E6E6;


    .all-categories-title {
        min-width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        justify-content: center;

        .icon-img {
            img {
                border-radius: 100%;
                width: 80px;
                height: 80px;
            }
        }

        .title {
            color: #7E7E7E;
            font-weight: 400;
            text-align: center;
        }

        .selected-title {
            color: #333030;
            text-align: center;
        }
    }

    .all-categories-title::-webkit-scrollbar {
        display: none;
    }
}

.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    border: 1px solid var(--grey_scale_warm_grey_disabled, #E0E0E0);
    background: #D8FAFF;
    padding: 16px 0;

    .marquee-item {
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-name: marquee-content;
        animation-timing-function: linear;
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        margin-right: 132px;
        font-size: 16px;

        .animated-word {
            font-size: 16px;
            color: #474390;
            font-weight: bold;
        }
    }
}

@keyframes marquee-content {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#home-container {
    .carousel {
        .flickity-button {
            width: 24px;
            height: 24px;
            border: none;
            border-radius: 4px;
            background: #fff;
            background: rgba(255, 255, 255, .75);

            svg {
                fill: #333;
                width: 60%;
                height: 60%;
                top: 20%;
                left: 20%;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .regrowthLanding {
        .QuizLandingPage-banner-buttons {
            .view-result-button {
                font-size: 24px;
                padding: 4px 30px !important;
            }
        }
    }
}

@media only screen and (max-width: 490px) {
    .product-recommendation {
        aspect-ratio: 71/16;
    }

    .OZiva_Purpose {
        aspect-ratio: 1287/937;
    }
}

@media only screen and (max-width:400px) and (min-width: 300px) {
    .homepage {
        .QuizLandingPage-banner-buttons {
            top: 73% !important;

            .view-result-button {
                padding: 0px 8px !important;
                font-size: 7px !important;
                border-radius: 2px !important;
            }
        }
    }

    .regrowthLanding {
        .QuizLandingPage-banner-buttons {
            left: 31% !important;

            .view-result-button {
                font-size: 12px !important;
            }
        }
    }

    .collection-ht-entry {
        .QuizLandingPage-banner-buttons {
            top: 72% !important;

            .view-result-button {
                font-size: 7px !important;
                padding: 0.5px 8px !important;
            }
        }
    }

    .collection-ht-new {

        .QuizLandingPage-banner-buttons {
            left: 28% !important;

            .view-result-button {
                font-size: 7px !important;
                padding: 0.5px 8px !important;
            }
        }
    }

}

@media only screen and (max-width: 768px) {

    .homeMain {
        .collection-section:first-child {
            margin-top: 32px;
        }

        .collection-section {
            .scalloped-inner-box {
                .collection-title {
                    font-size: 20px;
                    margin-bottom: 8px;
                }

                .collection-subtitle {
                    font-size: 14px;
                    line-height: 20px;
                }

                .oz-collection-page-content {
                    padding: 0 !important;
                }
            }
        }

        .loved-by-millions-container {
            .loved-by-millions-title {
                margin-bottom: 22px;
                font-size: 20px;
            }
        }

        .other-cards-section {
            .other-cards-head {
                .certificate-subtitle {
                    line-height: 20px;
                    font-size: 14px;
                }
            }
        }

        .in-the-news-container {
            margin-bottom: 64px;

            .in-the-news-title {
                font-size: 20px;
                margin-bottom: 16px;
            }

            .in-the-news-subtitle {
                font-size: 14px;
                line-height: 20px;
            }

        }
    }

    .bubbles-supersale {
        margin-bottom: 0;
        padding: 16px 8px 0 8px;
        justify-content: unset;
        gap: 2px;

        .all-categories-title {
            min-width: 97px;

            .icon-img {
                min-height: 60px;

                img {
                    width: 60px;
                    height: 60px;
                }
            }

            .title {
                min-height: 36px;
            }

            .selected-title {
                min-height: 36px;
            }
        }
    }

    .marquee {
        padding: 8px 0;

        .marquee-item {
            font-size: 13px;
        }
    }

    .hair-personalized-plan-section {
        .hair-personalized-plan-content {
            gap: 16px;
            padding: 8px 0 0;

            img {
                max-width: 90px;
                margin: 0;
                position: relative;
                margin-top: -26px
            }

            .hair-personalized-plan-right {
                gap: 16px;

                .hair-personalized-plan-right-top {
                    font-size: 13px;
                }

                .hair-personalized-plan-right-buttons {
                    gap: 8px;

                    button {
                        padding: 6.5px 16px;
                        font-size: 13px;
                        line-height: 10px;
                    }
                }
            }
        }
    }

    .homeSection {
        margin: 0 auto 32px !important;
    }

    #home-container h1 {
        margin-top: 32px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.014px;
    }

    .hero-banner {
        aspect-ratio: 86/65;
    }

    .ht-test-banner-mobile {
        aspect-ratio: 556/161;
    }

    .hartarahsebetter-section {
        aspect-ratio: 125 / 152;
    }

    .image_badge_container {
        display: block !important;
        text-align: center;
    }

    .badge_text {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.5px;
        text-align: center;
        margin: 8px 0 0;
        width: 100%;
    }

    .badge_image img {
        width: 50%;
        aspect-ratio: 10/9;
    }

    .homeCategoryBanner {
        margin-bottom: 32px;
        gap: 16px;
        flex-wrap: wrap;

        .slim_banner {
            flex: 1;
            min-width: 100%;

            img {
                border-radius: 4px;
            }
        }
    }

    .homeMain .title_container h2,
    .other-cards-head h2,
    .lovedby_container h2 {
        font-size: 20px !important;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.024px;
        margin-bottom: 16px;
    }

    .other-cards-cards {
        font-size: 12px;
    }

    p.lbm-txt {
        font-size: 13px;
        margin: 0 0 16px;
        line-height: 18px;
        /* 133.333% */
        letter-spacing: 0.048px;
        min-height: 54px;
    }

    p.lbm-title,
    .other-cards-head p,
    .other-cards-cards {
        font-size: 13px;
        line-height: 16px;
        /* 133.333% */
        letter-spacing: 0.048px;
    }

    .other-cards-row {
        column-gap: 16px;
        justify-content: start;
    }

    .wave-cards-row {
        .other-cards-cards {
            min-width: auto;
        }
    }

    .spotlight_container .all_categories,
    .HealthFitness_container .all_categories {
        margin-bottom: 16px !important;
    }

    .other-cards-head {
        margin-bottom: 16px;
    }

    .other-cards-cards .banner-image-click {
        margin-bottom: 8px;
    }

    .spotlight_container .all_categories_title .title,
    .HealthFitness_container .all_categories_title .title {
        font-size: 12px !important;
        line-height: 15px !important;
        margin-top: 8px;
        min-width: 90px;
    }

    .carousel_lovedby_card {
        max-width: 230px !important;
        min-width: 230px !important;
        border-radius: 4px !important;
    }

    .lovedby_card_image iframe,
    .lovedby_card_image video {
        border-radius: 4px 4px 0 0 !important;
    }

    .other-cards-cards {
        max-width: 200px;
        min-width: 200px;
    }

    .homeCategoryBannerRow {
        gap: 16px;
    }

    .regrowthLanding {
        .QuizLandingPage-banner-buttons {

            top: 36%;
            left: 32%;

            .view-result-button {
                font-size: 14px;
                padding: 1px 12px !important;
                border-radius: 2px;
            }
        }
    }

    .homepage {
        .QuizLandingPage-banner-buttons {
            left: 30%;
            top: 72%;

            .view-result-button {
                font-size: 8px;
                padding: 1px 8px;
            }
        }
    }

    .collection-ht-entry {
        .QuizLandingPage-banner-buttons {
            top: 73%;
            left: 28%;

            .view-result-button {
                font-size: 8px;
                padding: 1px 8px;
                border-radius: 2px;
            }
        }
    }

    .collection-ht-new {

        .QuizLandingPage-banner-buttons {
            top: 72%;
            left: 28%;

            .view-result-button {
                font-size: 8px;
                padding: 2px 8px;
            }
        }
    }

    .title_container {
        .img-title {
            img {
                width: 250px;
                padding-bottom: 8px;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .title_container {
        .img-title {
            img {
                width: 210px;
            }
        }
    }
}