$color_1: #7E7E7E;
$color_2: white;
$color_3: #7e7e7e;
$color_4: #6bbd58;
$color_5: #d9d9d9;
$color_6: black;
$color_7: #4d4d4d;
$color_8: transparent;
$color_9: #fff;
$color_10: #f04e23;
$font-family_1: inherit;
$background-color_1: rgba(250, 250, 250, 0);
$background-color_2: rgba(0, 0, 0, 0.5);
$background-color_3: #d9d9d9;
$background-color_4: #f04e23;
$background-color_5: white;
$background-color_6: #6bbd58;
$background-color_7: #bfb;
$background-color_8: #006E5A;
$orangeVibrantShade: #FF6F00;

$border-color_1: #f04e23;
$border-color_2: #aaa;
$border-color_3: #bfb;
$border-color_4: #006E5A;

@keyframes blinker {
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.product-advice-steps {
  margin-bottom: 32px !important;
}
ul.stepper {
  .step {
    &:not(:last-of-type).active {
      padding-bottom: 16px !important;
    }
    .step-title {
      margin: 0 !important;
      padding: 16px 0 16px 44px !important;
      line-height: 22px !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}
.product-advice-steps {
	max-width: 600px;
	margin: 0 auto;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #f2f2f2;
	border-radius: 6px;
	ul.stepper {
    padding: 0 16px;
	position: relative;
    z-index: 1;
    margin-bottom: 16px;
		.step.done {
			&::before {
				background-image: url('https://cdn.shopify.com/s/files/1/0366/1004/8044/t/39/assets/white_tick_icon.svg?v=178093829160167394711663591890') !important;
				background-repeat: no-repeat !important;
				background-size: 55% 55% !important;
				content: '' !important;
				background-position: 50% 50% !important;
			}
		}
	}
}
.header {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid $border-color_4;
	>p {
		color: $color_1;
    font-size: 13px;
    line-height: 16.9px;
    letter-spacing: 0.15px;
	}
	>h3 {
    margin: 0 0 8px;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.15px;
	}
}
.stepper-main {
	padding: 20px;
}
.or-btn {
	background: $orangeVibrantShade !important;
	color: $color_2 !important;
}
button.btn.add_to_cart {
	&:hover {
		background: $orangeVibrantShade !important;
		color: $color_2 !important;
	}
}
ul.stepper {
	.step {
		.step-title {
			&:hover {
				background-color: $background-color_1;
			}
		}
		&::before {
			background-color: $background-color_5 !important;
			border: 1px solid #6bbd58;
			color: $color_4 !important;
			line-height: 25px !important;
			box-shadow: 0px 0px 0px 2px #ffffff;
			z-index: 2;
		}
		&:not(:last-of-type) {
			&::after {
				top: 40px !important;
				width: 3px !important;
				height: 100% !important;
				background-color: $background-color_6;
			}
		}
	}
	.step.done {
		&::before {
			background: #6bbd58;
			color: $color_4;
			background: #6bbd58 !important;
			color: $color_2 !important;
		}
		&::after {
			background-color: $background-color_6 !important;
			width: 4px !important;
		}
	}
	.step.active {
		&::before {
			background: #6bbd58 !important;
			color: $color_2 !important;
		}
	}
	.step.wrong {
		&::before {
			counter-increment: section;
			content: counter(section);
			font-size: inherit;
			font-family: $font-family_1;
		}
	}
}
.option-holder {
	display: flex;
	border: 1px solid #f2f2f2;
	height: 40px;
	border-radius: 4px;
	margin: 0 auto 4px;
  &:last-child{
    margin-bottom: 0;
  }
}
.step-actions {
	button {
		margin: 0 auto !important;
	}
}
.loader_container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $background-color_2;
	z-index: 999;
	cursor: pointer;
}
.loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid #6abd58;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin: auto;
}
.loader_wrapper {
	position: relative;
	top: 20%;
	width: 80%;
	margin: auto;
	max-width: 300px;
}
.full-page-loader {
	top: 35%;
	left: 4%;
}
.pref-usage {
	padding: 10px;
	color: $color_3;
	font-size: 12px;
}
.action-buttons {
	display: flex;
	width: 96%;
	margin: 0 auto;
	box-shadow: 0px 0px 6px #00000029 !important;
}
.image-div {
	flex: 0.2;
	vertical-align: top;
	text-align: center;
	padding: 10px;
	flex-grow: 0.3;
	img {
		width: 120px;
	}
}
.details-div {
	flex: 1;
	padding: 10px;
	vertical-align: top;
}
.add_to_cart {
	position: relative;
	display: flex;
	flex: 0.5;
	justify-content: center;
	background: $orangeVibrantShade 0% 0% no-repeat padding-box;
	border-radius: 6px;
	border: 1px solid $orangeVibrantShade;
	&:focus {
		background: $orangeVibrantShade;
		color: $color_2;
		border: 1px solid #f04023;
		outline: none;
	}
}
.view_details {
	display: flex;
	flex: 0.5;
	justify-content: center;
	color: $color_4 !important;
	background: #ffffff 0% 0% no-repeat padding-box !important;
	border-radius: 4px !important;
	outline: none;
}
.chips-selected {
	>ul {
		display: flex;
		>li {
			cursor: pointer;
		}
	}
}
.chip-items {
	padding: 0 10px;
	color: $color_2;
	background: #6bbd58 0% 0% no-repeat padding-box;
	border-radius: 30px;
	margin: 5px;
	font-size: 11px;
}
#product-suggestions {
	max-width: 600px;
	margin: 0 auto;
	background: #f1fcee 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 6px;
	padding: 20px 10px;
	.pdiv {
		margin: 20px;
		background: #ffffff 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 6px #00000029;
		border: 1px solid #ebe9e9;
		border-radius: 6px;
	}
}
.selection-boxes {
	cursor: pointer;
	display: inline-block;
	padding: 8px 16px;;
	margin: 8px 2px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #424242;
	border-radius: 45px;
	opacity: 1;
  font-size: 14px;
  letter-spacing: 0.15px;
  line-height: 18.9px;
  color: #424242;
  &:first-child{
    margin-left: 0;
  }
}
.selection-boxes.active {
	background: #6bbd58 0% 0% no-repeat padding-box;
	color: $color_2;
	display: inline-block !important;
}
.flex-center-align {
	display: flex;
	align-items: center;
  margin: 0;
}
.step-content .title:nth-child(1) {
  margin-bottom: 16px !important;
}
.step-content .title p {
  font-size: 12px;
  letter-spacing: 0.15px;
  line-height: 15.6px;
  text-transform: capitalize;
}
.f1 {
	flex: 0.1;
}
.f2 {
	flex: 0.2;
}
.f3 {
	flex: 0.3;
}
.f4 {
	flex: 0.4;
}
.f5 {
	flex: 0.5;
}
.f6 {
	flex: 0.6;
}
.f7 {
	flex: 0.7;
}
.f8 {
	flex: 0.8;
}
.f9 {
	flex: 0.9;
}
.f10 {
	flex: 1;
}
.btn {
	border-radius: 4px;
	font-size: 14px;
  letter-spacing: 0.15px;
	height: 40px;
	padding: 0 32px;
	align-items: center;
	justify-content: center;
  font-weight: 500;
	&:focus {
		background: $orangeVibrantShade;
		background: $orangeVibrantShade 0% 0% no-repeat padding-box;
	}
	&:not([disabled]) {
		&:hover {
			background-color: $background-color_4;
		}
	}
}
.btn.disabled {
	background-color: $background-color_3 !important;
	&:hover {
		background-color: $background-color_3 !important;
		border: none;
	}
	&:active {
		background-color: $background-color_3 !important;
		border: none;
	}
	&:focus {
		background-color: $background-color_3 !important;
		border: none;
	}
}
.btn.active {
	&:active {
		border: none;
	}
}
.step {
	.step-title {
		color: $color_5;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.15px;
	}
	&::after {
		background-color: $background-color_3 !important;
	}
}
.step.active {
	.step-title {
		color: $color_6;
		font-size: 18px;
	}
}
.step.done {
	.step-title {
		color: $color_6;
		color: $color_7;
	}
}
input[type='checkbox']+label {
	display: block;
	margin: 0.2em;
	cursor: pointer;
	padding: 0.2em;
  font-size: 14px;
  line-height: 16.9px;
  letter-spacing: 0.15px;
  text-transform: capitalize;
	&:before {
		background-image: url(//cdn.shopify.com/s/files/1/2393/2199/t/10/assets/white_tick_icon.svg?v=9039295180003760948) !important;
		background-repeat: no-repeat !important;
		background-size: 55% 55% !important;
		content: '';
		background-position: 50% 50% !important;
		border: 2px solid #d9d9d9;
		border-radius: 0.2em;
		display: inline-block;
		width: 20px;
		height: 20px;
		padding-left: 0;
		padding-bottom: 0;
		margin-right: 10px;
		vertical-align: middle;
		color: $color_8;
		transition: 0.2s;
		text-align: center;
		border-radius: 20px;
		font-size: 0.8em;
	}
	&:active {
		&:before {
			transform: scale(0);
		}
	}
}
input[type='checkbox'] {
	display: none;
	&:checked+label {
		&:before {
			background-color: $background-color_8;
			border-color: $border-color_4;
			color: $color_9;
		}
	}
	&:disabled+label {
		&:before {
			transform: scale(1);
			border-color: $border-color_2;
		}
	}
	&:checked {
		&:disabled+label {
			&:before {
				transform: scale(1);
				background-color: $background-color_7;
				border-color: $border-color_3;
			}
		}
	}
}
input[type='radio']+label {
	display: block;
	cursor: pointer;
	margin-left: 8px;
	text-transform: capitalize;
  font-size: 14px;
  line-height: 16.9px;
  letter-spacing: 0.15px;
	&:before {
		content: '';
		border: 2px solid #d9d9d9;
		border-radius: 0.2em;
		display: inline-block;
		width: 20px;
		height: 20px;
		padding-left: 0;
		padding-bottom: 0;
		margin-right: 8px;
		color: $color_8;
		transition: 0.2s;
		text-align: center;
		border-radius: 20px;
		vertical-align: middle;
		font-size: 0.8em;
	}
	&:active {
		&:before {
			transform: scale(0);
		}
	}
}
input[type='radio'] {
	display: none;
	&:checked+label {
		&:before {
			background-color: $background-color_8;
			border-color: $border-color_4;
			color: $color_9;
			box-shadow: inset 0 0 0 4px;
		}
	}
	&:disabled+label {
		&:before {
			transform: scale(1);
			border-color: $border-color_2;
		}
	}
	&:checked {
		&:disabled+label {
			&:before {
				transform: scale(1);
				background-color: $background-color_7;
				border-color: $border-color_3;
			}
		}
	}
}
.blink_me {
	display: none;
	font-size: 14px;
	color: $color_10;
	margin-left: 10px;
}
.blink_me.showHigh {
	display: inline-block;
	// animation: blinker 2s cubic-bezier(0.57, 0.26, 0, 0.65) 1;
}
.content-item {
	display: flex;
	>div {
		display: inline-flex;
		flex-direction: column;
	}
}
.product-list-item {
	padding: 10px 24px;
}
.pdiv {
	position: relative;
}
.chat-bubble {
	&:before {
		content: '';
		width: 0px;
		height: 0px;
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid #fff5ce;
		border-top: 10px solid #fff5ce;
		border-bottom: 10px solid transparent;
		left: -20px;
		bottom: 0px;
		transform: rotate(90deg);
		box-shadow: 4px -1px 2px -2px #00000029;
	}
}
.info-text {
	align-items: center;
	justify-content: center;
	flex: 1;
	align-self: center;
	border-radius: 6px 6px 6px 0;
	box-shadow: 0px 3px 6px #00000029;
	margin-left: 20px;
	background: #fff5ce 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	position: relative;
	display: block;
	padding: 15px;
}
#nutritionist {
	display: flex;
	padding: 10px;
	font-size: 16px;
}
.step-content {
	.title {
		&:nth-child(1) {
			margin-bottom: 18px;
		}
	}
}
@media only screen and (max-width: 750px) {
	#product-suggestions {
		width: 100%;
		max-width: 100%;
		margin: 0;
		.pdiv {
			margin: 5px;
		}
	}
	.blink_me {
		font-size: 13px;
	}
  .header > h3{
    font-size: 14px;
    line-height: 18.2px;
    margin: 0 0 4px;
  }
  .header > p {
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.4px;
  }
	.step {
		.step-title {
			font-size: 16px !important;
      letter-spacing: 0.15px !important;
      line-height: 24px !important;
		}
	}
  input[type=radio] + label{
    font-size: 13px;
    line-height: 16.9px;
    letter-spacing: 0.5px;
  }
	.main-content {
		padding-top: 25px !important;
	}
	.product-advice-steps {
		border: none;
		width: 100%;
		max-width: 100%;
	}
	.product-list-item {
		padding: 0;
	}
	.details-div {
		>span {
			font-size: 12px;
		}
	}
	.image-div {
		flex: 0.4;
	}
	#nutritionist {
		font-size: 13px;
	}
  .step-content .title p {
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: 14.3px;
  }
	.selection-boxes {
		font-size: 13px;
    padding: 4px 8px;
    letter-spacing: 0.5px;
	}
	.option-holder {
		height: 40px;
	}
	.btn {
		height: 42px;
		padding: 0;
		flex: 1;
    font-size: 13px;
	}
}