.oz-accordion {
  // General
  input.accordion-tab {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab.active {
    border-color: #006E5A!important;
    background: #006E5A05;
    border-radius: 8px;
  }
  .tab.active .tab-content {
      background: transparent;
  }
  /* Accordion styles */
  .tabs {
    overflow: hidden;
  }
  .tab {
    width: 100%;
    overflow: hidden;
    border: 1px solid $border-gray;
    border-radius: 8px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      background: $white;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      cursor: pointer;
      .arrow-span {
        position: absolute;
        right: 8px;
        top: 4;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 16px;
      background: white;
      -webkit-transition: max-height 0.3s ease-in-out;
      -moz-transition: max-height 0.3s ease-in-out;
      -o-transition: max-height 0.3s ease-in-out;
      -ms-transition: max-height 0.3s ease-in-out;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: $white;
      cursor: pointer;
      &:hover {
        background: darken($white, 10%);
      }
    }
    .tab-content {
      ol {
        padding: 0;
        list-style: auto;
        li {
          margin-bottom: 32px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.15px;
          h4 {
            margin-bottom: 8px;
          }
          p {
            font-weight: 400;
            line-height: 16.9px;
            font-size: 14px;
            letter-spacing: 0.15px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .product-info {
        table {
          width: 100%;
          margin: 0;
          tr {
            td,th {
              padding: 16px;
              border-top: 1px solid $border-gray;
              border-right: 1px solid $border-gray;
              line-height: 16.9px;
              font-size: 14px;
              letter-spacing: 0.15px;
              &:first-child {
                background: $light-gray;
                min-width: 145px;
                vertical-align: middle;
              }
              &:last-child {
                border-right: 0;
              }
            }
          }
        }
      }
    }
  }
  .payment-subtitle{
    margin-left: 40px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .tab-label {
    position: relative;
    .arrow-tab {
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
      position: absolute;
      right: 16px;
      top: 15px;
      svg {
        display: block;
      }
    }
  }

  // :checked
  input:checked {
    + .tab-label {
      .arrow-tab,
      .arrow-span {
        transform: rotate(180deg);
      }
    }
    ~ .tab-content {
      max-height: 1000px;
      padding: 0 16px 16px 16px;
      max-height: 1000px;
      overflow: auto;
      font-size: 14px;
      -webkit-transition: max-height 0.5s ease-in-out;
      -moz-transition: max-height 0.5s ease-in-out;
      -o-transition: max-height 0.5s ease-in-out;
      -ms-transition: max-height 0.5s ease-in-out;
      transition: max-height 0.5s ease-in-out;
    }
  }
}

.radio-accordion {
  .oz-radio {
    margin: 16px 8px 8px 16px !important;
  }
  .tab-label {
    padding: 0;
    display: inline;
    font-weight: 400;
    font-size: 14px;
    span{
      font-weight: bold;
    }
  }
}
.oz-accordion-v2 {
  .tabs {
    .tab {
      margin-bottom: 0;
      border-bottom: 0;
      border-radius: 0;
      &:first-child {
        border-radius: 4px 4px 0 0;
      }
      &:last-child {
        border-radius: 0 0 4px 4px;
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
}

.oz-horizontal-tab {
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  padding: 16px;
  margin-bottom: 32px;
  background: url(https://cdn.shopify.com/s/files/1/2393/2199/files/hv-bg.png?v=1705578131) no-repeat 100% 100%;
  .h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
    color:#004141;
  }
  .oz-horizontal-tab-container {
    display: flex;
    gap: 16px;
    .horizontal-tab-left{
      flex: 1;
    }
    .oz-horizontal-tab-btns {
      display: flex;
      gap: 16px;
      margin: 16px 0;
      button{
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.021px;
        border-radius: 4px;
        border: 1px solid #E0E0E0;
        background: #E0E0E0;
        padding: 4px 2px;
        width: 100%;
        max-width: 160px;
        height: 40px;
        cursor: pointer;
        &.active{
          border: 1px solid #6BBD58;
          background: #F0FAF0;
        }
      }
    }
    .oz-horizontal-tab-content{
      section{
        max-width: 690px;
        ul{
          padding: 0 0 0 16px;
          margin: inherit;
          li{
            list-style: inherit;
            margin-bottom: 8px;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
        div{
          img{
            margin-bottom: 16px;
            max-width: 100%;
          }
        }
      }
      p{
        font-size: 14px;
        line-height: 19px;
        color: #283232;
        letter-spacing: 0.021px;
      }
      .oz-horizontal-tab-footer{
        border-radius: 4px;
        background: #F5F5F5;
        padding: 16px;
        p{
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.065px;
        }
        button{
          background: transparent;
          border: 0;
          color: #6BBD58;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0.021px;
          text-transform: uppercase;
          padding: 0;
        }
      }
    }
    .horizontal-tab-right{
      img{
        display: block;
        max-width: 227px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .oz-horizontal-tab .h2{
    font-size: 16px;
    margin-bottom: 16px !important;
  }
  .oz-accordion {
    padding: 0;
    border-top: 3px solid $primaryGreenSG300;
    .tabs {
      .tab {
        border-radius: 8px;
        border-top: 0;
        border-bottom: 3px solid $primaryGreenSG300;
        margin-bottom: 8px;
        .tab-content {
          ol {
            li {
              margin-bottom: 16px;
              font-size: 14px;
              letter-spacing: 0.15px;
              line-height: 18.2px;
              h4 {
                margin-bottom: 4px;
              }
              p {
                font-size: 13px;
                letter-spacing: 0.01px;
                line-height: 17px;
              }
            }
          }
          table {
            font-size: 13px;
            line-height: 17px;
            tr td,
            tr th {
              padding: 8px 16px;
            }
          }
        }
      }
    }
    .payment-subtitle{
      margin-left: 52px;
    }
    .tab-label {
      padding: 8px 13px;
      font-size: 14px;
      letter-spacing: 0.15px;
      line-height: 18.2px;
      font-weight: bold;
      .arrow-tab{
        top: 5px;
      }
    }
  }

  .oz-horizontal-tab {
    .oz-horizontal-tab-container {
      .horizontal-tab-left{
        flex-direction: row;
        display: flex;
        gap: 16px;
        .oz-horizontal-tab-btns{
          flex-direction: column;
          margin: 0;
        }
      }
      .oz-horizontal-tab-content {
        section {
          div {
            img{
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
  .oz-horizontal-tab {
    border: 0;
    padding: 16px;
    border-top: 3px solid #c8e6c8;
    border-radius: 0;
    margin: 0 -15px;
    .oz-horizontal-tab-container {
      .oz-horizontal-tab-btns {
        gap: 8px;
        button{
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.02px;
          width: 84px
        }
      }
      .oz-horizontal-tab-content {
        min-height: 180px;
        .d-flex.mb-16{
          gap: 16px;
        }
        p{
          flex: 1;
          font-size: 13px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.065px;
        }
        .oz-horizontal-tab-footer{
          padding: 8px;
          p{
            margin-bottom: 8px;
          }
          button{
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.02px;
          }
        }
      }
    }
  }
}
