@import '../import/_variables';

.hide-on-mobile {
    display: none !important;
}

.start-nav {
    display: flex;
    align-items: center;
}

.cart-devlutter-A,
.exp-clutter-A {
    display: none;
}

.abs-prod-list-section h2 {
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
}

.abs-prod-card {
    border: 1px solid #C8E6C8;
    border-radius: 4px;
    margin: 0 0 16px;
    overflow: hidden;
}

.abs-prod-card-header {
    background: #C8E6C8;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    column-gap: 8px;
    align-items: center;

    span {
        svg {
            margin-right: 2px;
        }
    }
}

.best-seller-badge {
    background: #006E5A;
    color: #fff;
    padding: 2px 14px 2px 8px;
    border-radius: 4px 0 0 4px;
    position: relative;
    overflow: hidden;
    min-width: fit-content;
    line-height: 17px;
}

.best-seller-badge:after {
    content: '';
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-right: 10px solid #C8E6C8;
    position: absolute;
    right: -1px;
    top: 0;
}

.abs-prod-card-list {
    display: flex;
    column-gap: 8px;
    padding: 16px;
    background: #fff;
}

.abs-prod-card-list-img {
    width: 93px;
}

.abs-prod-card-list-dtl h5 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 8px;
    font-weight: 500;
    letter-spacing: 0.15px;
    position: relative;
}

.abs-prod-review {
    color: #006E5A;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 8px;
    display: flex;
    column-gap: 3px;
    align-items: center;

    svg {
        width: 12px;
    }
}

.product-price-dtls {
    font-size: 14px;
    line-height: 19px;
    color: #333030;
    display: flex;
    align-items: center;
}

.product-price-dtls .item-price {
    font-size: 16px;
}

.product-price-dtls .offer {
    font-size: 13px;
    line-height: 16px;
    color: #F04E23;
}

.abs-prod-card-list-dtl {
    width: 100%;
    position: relative;
}

.prime-cart-item {
    justify-content: space-between;
    padding: 0.5rem;
    background: #C8E6C8;
    margin-top: 0.3rem;
}

.prime-cart-item-add {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.prime-cart-item-price {
    display: flex;
    gap: 4px;
    align-items: center;

    .prod-price {
        font-size: 14px;
        letter-spacing: 0.15px;
        line-height: 16.9px;
        font-weight: 500;
    }
}

.cash-and-copupon-login {
    padding: 5px;
    margin-left: 5px;
}

.abs-prod-card-list-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.abs-prod-card-header::-webkit-scrollbar {
    display: none;
}

#satisfaction-guaranteed {
    display: flex;
    margin: 8px;
    align-items: center;
    padding: 4px 8px;
    gap: 2px;
    border-radius: 4px;
    display: none;
}

#satisfaction-guaranteed .satisfacion-image {
    vertical-align: middle;
}

#satisfaction-guaranteed.green {
    background-color: #004141;
    color: white;
}

#satisfaction-guaranteed.grey {
    background-color: #E0E0E0;
    color: #424242;
}

.oziva-cart-body {
    .oziva-mob-container {
        .oziva-cart-web {

            .oziva-cart-left-spacing-1 {
                margin-top: 120px;
            }

            .oziva-cart-left-spacing-2 {
                margin-top: 60px;
            }

            .oziva-cart-left {
                .ATCwrapper {
                    bottom: 70px;
                    height: 50px !important;
                }
            }

            .uds-563-upgrade-cart-container {
                margin-top: 22px;
                display: block !important;

                .expert-recommended-tag-exp {
                    background-color: #FFA102;
                    color: #FFF;
                    border-radius: 12px;
                    padding: 2px 8px;
                    position: absolute;
                    left: calc(50%);
                    transform: translate(-50%, -50%);
                    font-size: 12px;
                    font-weight: 500;
                }

                .upgrade-cart-box {
                    justify-content: space-between;
                    border: 1px solid #F4E47C;
                    align-items: center;
                    background: #FFF29E;
                    padding: 16px 8px 8px 8px;
                    box-sizing: border-box;
                    border-radius: 4px;
                    display: flex;

                    .upgrade-text {
                        display: flex;
                        align-items: center;
                        gap: 4px;

                        .animation-image {
                            display: flex;

                            img {
                                width: 42px;
                                height: 42px;
                            }
                        }

                        .upgrade-cart-text {
                            .text-1 {
                                font-weight: 500;
                                font-size: 13px;
                            }

                            .text-2 {
                                font-size: 12px;
                            }

                            .text-3 {
                                font-size: 12px;
                                color: #424242;
                            }
                        }
                    }

                    button {
                        background: #FF6F00;
                        color: #ffffff;
                        border-color: #FF6F00;
                        border: none;
                        border-radius: 4px;
                        padding: 8px;
                        cursor: pointer;
                    }
                }
            }

            .uds-563-cart-upgrade-popup {
                .footer-icons-col {
                    .modal-with-head {
                        .modal-dialog {
                            .modal-content {
                                .modal-head {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    margin: 0;
                                    z-index: 1000000;
                                }

                                .model-body {
                                    margin-top: 16px;
                                    overflow: hidden;
                                    min-height: 38vh !important;

                                    .popup-product-title {
                                        font-weight: 700;
                                        font-size: 16px;
                                        margin: 16px 16px 16px 0;
                                        line-height: 22px;
                                    }

                                    .pack-listing-card-container {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 16px;
                                        margin: 16px 8px 32px 8px;

                                        .pack-listing-card {
                                            border: 1px solid #BDBDBD;
                                            border-radius: 4px;
                                            height: 200px;
                                            width: 24%;
                                            display: flex;
                                            flex-direction: column;
                                            cursor: pointer;

                                            .pack-listing-recommended-tag {
                                                background-color: #FECC0E;
                                                border-radius: 8px;
                                                padding: 2px 8px;
                                                position: relative;
                                                font-size: 10px;
                                                top: -13px;
                                                font-weight: 500;
                                                color: #006E5A;
                                            }

                                            .pack-listing-image {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                background-color: #F5F5F5;
                                                justify-content: center;
                                                border-radius: 4px;
                                                flex-basis: 70%;

                                                img {
                                                    width: 60px;
                                                    height: 60px;
                                                    border-radius: 4px;
                                                }

                                                .pack-name {
                                                    font-weight: 500;
                                                    font-size: 12px;
                                                    margin-top: 4px;
                                                    min-height: 18px;
                                                }

                                                .pack-qty {
                                                    font-size: 11px;
                                                }
                                            }

                                            .pack-listing-pricing {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                margin-top: 14px;

                                                .pack-listing-selling-price {
                                                    font-size: 16px;
                                                    font-weight: 700;
                                                }

                                                .pack-listing-mrp {
                                                    color: #7E7E7E;
                                                    font-size: 11px;
                                                }

                                                .pack-listing-save {
                                                    background-color: #FF6F00;
                                                    ;
                                                    color: #FFF;
                                                    border-radius: 8px;
                                                    padding: 2px 8px;
                                                    position: relative;
                                                    font-weight: 500;
                                                    font-size: 12px;
                                                    top: 10px;
                                                }
                                            }
                                        }

                                        .pack-listing-card.active {
                                            height: 240px;
                                            width: 28%;
                                            border: 1px solid #6BBD58;
                                            display: flex;
                                            flex-direction: column;
                                            cursor: pointer;

                                            .pack-listing-recommended-tag {
                                                background-color: #FECC0E;
                                                color: #006E5A;
                                                border-radius: 8px;
                                                padding: 2px 8px;
                                                position: relative;
                                                font-size: 12px;
                                                top: -23px;
                                                font-weight: 500;
                                            }

                                            .pack-listing-image {
                                                background-color: #F0FAF0;
                                                flex-basis: 70%;

                                                img {
                                                    width: 84px;
                                                    height: 84px;
                                                    border-radius: 4px;
                                                }

                                                .pack-name {
                                                    font-size: 14px;
                                                }

                                                .pack-qty {
                                                    font-size: 13px;
                                                }
                                            }

                                            .pack-listing-pricing {
                                                .pack-listing-save {
                                                    position: relative;
                                                }

                                                .pack-listing-mrp {
                                                    color: #7E7E7E;
                                                }
                                            }
                                        }
                                    }

                                    .oziva-mob-footer-1 {
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;
                                        box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.14);
                                        padding: 8px;

                                        .image-container {
                                            display: flex;
                                            align-items: center;

                                            img {
                                                width: 48px;
                                                height: 48px;
                                                margin-right: 2px;
                                            }

                                            .product-ratings {
                                                display: flex;
                                                gap: 2px;

                                                .ratings-number {
                                                    color: #7E7E7E;
                                                    font-size: 14px;
                                                }

                                                svg {
                                                    height: 16px;
                                                    width: 16px;

                                                    path {
                                                        fill: #FECC0E;
                                                    }
                                                }
                                            }
                                        }

                                        .pdp-v2-cta-btn {
                                            flex: 1;
                                            border-radius: 4px;
                                            background: var(--primary-PC_500, #FF6F00);
                                            border: 0;
                                            color: var(--neutral_clear_white, #FFF);
                                            font-size: 14px;
                                            font-weight: 800;
                                            padding: 8px;
                                            margin-left: 4px;
                                            height: 48px;
                                            cursor: pointer;

                                            .buy-now-button {
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;

                                                .mrp-information {
                                                    display: flex;
                                                    gap: 4px;
                                                    align-items: center;

                                                    .pricing {
                                                        display: flex;
                                                        align-items: center;

                                                        .mrp-price {
                                                            font-size: 11px;
                                                            margin-right: 4px;
                                                            font-weight: 500;
                                                            color: #E0E0E0;
                                                        }

                                                        .selling-price {
                                                            font-size: 13px;
                                                            font-weight: 500;
                                                            color: #E0E0E0;
                                                        }

                                                        .mrp-text {
                                                            font-size: 11px;
                                                            font-weight: 500;
                                                            color: #E0E0E0;
                                                        }
                                                    }

                                                    .vertical-line {
                                                        border-left: 1px solid #E0E0E0;
                                                        height: 20px;
                                                    }

                                                    .save-text {
                                                        font-size: 13px;
                                                        font-weight: 500;
                                                        color: #E0E0E0;
                                                    }
                                                }

                                                .buy-now-text {
                                                    font-size: 13px;
                                                }
                                            }

                                        }

                                        .footer-container {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            width: 100%;
                                            padding: 0;

                                            .pdp-v2-cta-btn {
                                                height: 44px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.cart-item-popup {
    .modal-with-head {
        .modal-dialog {
            height: 85vh;
            position: relative;

            .close-modal {
                right: 6px !important;
            }

            .modal-content {
                height: 100%;

                .modal-head {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0;
                    z-index: 1000000;
                }

                .modal-body {
                    margin-top: 50px;

                    @media screen and (max-width: 768px) {
                        margin-top: 30px;
                    }

                    padding: 0;
                    overflow: auto;
                    min-height: 300px;
                    height: 90%;

                    .title-review-mobile-sec {
                        padding: 0 16px;
                    }

                    .popup-product-title {
                        font-weight: 500;
                        font-size: 16px;
                        margin: 16px 16px 16px 0;
                        line-height: 22px;
                    }

                    .popup-benefit-chips {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        margin-bottom: 16px;

                        p {
                            padding: 0px 4px;
                            border-radius: 2px;
                            background: #F1FFEE;
                            border: 1px solid #C8E6C8;
                        }
                    }

                    .consultation-container {
                        .uds-560-consultation-banner {
                            margin: 8px;
                        }

                        .consultation-body {
                            padding: 8px;
                            background: #F0FAF0;
                            margin: 8px;
                            border-radius: 4px;

                            .consultation-info {
                                .consultation-text {
                                    font-size: 13px;
                                    font-weight: 500;
                                    display: flex;
                                    align-items: center;

                                    img {
                                        width: 32px;
                                    }
                                }
                            }
                        }

                        .foter-text {
                            margin: 8px 8px 74px 8px;
                        }
                    }

                    .oziva-pdp-content-area {
                        .sticky-top {
                            top: 80px;
                            z-index: 2;
                            position: sticky;

                            .thumbnail-images {
                                margin-top: 8px;
                            }
                        }

                        .thumbnail-images {
                            .flickity-viewport {
                                height: 80px !important;
                            }

                            .flickity-slider {
                                width: 80px;
                            }
                        }

                        .product-slider {
                            width: 80%;
                            margin: 0 auto;

                            @media screen and (max-width: 768px) {
                                width: 100%;
                            }
                        }
                    }

                    .footer-icons-v1 {
                        margin-bottom: 80px !important;
                    }

                    .footer-icons-v2 {
                        display: none;
                    }
                }

                .uds-559-proceed-to-checkout-btn {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: 0 auto;
                    background: #FFF;
                    z-index: 100000;
                    border-radius: 0 0 8px 8px;
                    box-shadow: 0px -2px 4px 0px #00000024;

                    button {
                        margin: 10px auto;
                        width: 95%;
                    }

                    .uds-559-popup-nudge {
                        color: #F04E23;
                        background: #F9D2C7;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}

.saving-corner-container {
    .free-gifts-heading {
        display: flex;
        align-items: center;
    }

    .cart-item-dtl {
        padding: 0 !important;
        display: flex;
        align-items: center;
    }

    .cart-item-name {
        padding-right: 80px !important;
    }

    span.total-savings {
        padding: 4px;
        border-radius: 4px;
        background: #E7FFE1;
        color: var(--secondary_deep_green, #006E5A);
        text-align: center;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        margin-left: 8px;
    }

    .product-savings-container {
        display: flex;
        margin-top: 16px;
        gap: 8px;
        align-items: center;

        .saving-text {
            color: var(--grey_scale_dark_grey, #424242);
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.065px;
            display: flex;

            .bold {
                font-size: 14px;
                // line-height: 16.9px;
            }

            img {
                width: 24px;
                height: 24px;
            }
        }

        .applied-text {
            color: #5EB24B;
            text-align: center;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.06px;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
        }
    }

    .heading-text-cash {
        color: var(--grey_scale_dark_grey, #424242);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    .heading-sub-text-cash {
        color: var(--grey_scale_grey, #7E7E7E);
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        margin-left: 4px;
    }

    p.small-text.cash-amount {
        display: flex;
        align-items: center;
        color: var(--grey_scale_grey, #7E7E7E);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        margin-left: 28px;
    }

    .heading-text {
        color: var(--grey_scale_dark_grey, #424242);
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }

    .coupan-save {
        color: var(--grey_scale_grey, #7E7E7E);
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
    }

    .ozi-img-cart {
        width: 24px !important;
        height: 24px !important;
    }

    .coupon-container-view {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }
}

.cart-offers {}

.uds-623-v2,
.uds-623-v1 {
    display: none;
}

.social-proof-banner {
    display: none;
}

.gcsk-1654-exp-chat-support-container {
    display: none !important;
}



@media only screen and (max-width: 768px) {
    .oziva-cart-body {
        .oziva-mob-container {
            .oziva-cart-web {
                .oziva-cart-left-spacing-1 {
                    margin-top: 80px;
                }

                .oziva-cart-left-spacing-2 {
                    margin-top: 45px;
                }
            }
        }
    }

    .saving-corner-container {
        .oziva-item-img {
            margin-right: 4px !important;
        }

        .cart-item-name {
            padding-right: 60px !important;
        }

        span.total-savings {
            font-size: 13px;
            margin-left: 4px;
        }

        .product-savings-container {
            gap: 4px;

            .saving-text {
                .bold {
                    font-size: 13px;
                }
            }

            .applied-text {
                font-size: 12px;
            }
        }

        .heading-text-cash {
            font-size: 13px;
        }

        .heading-sub-text-cash {
            font-size: 12px;
        }

        p.small-text.cash-amount {
            font-size: 13px;
        }
    }

    // GCSK-1654 Start
    .gcsk-1654-exp-chat-support-container {
        display: none;
        padding: 8px;
        border: 1px solid #e0e0e0;
        align-items: center;
        margin-bottom: 16px;
        gap: 8px;
        border-radius: 4px;

        .nutritionist-image {
            flex-basis: 20%;
            width: 80px;
            height: 100px;
        }

        .chat-support-content {
            flex-basis: 80%;

            .chat-support-header {
                font-size: 14px;
                font-weight: 500;
                color: #006E5A;
                margin-bottom: 8px;

                span {
                    font-weight: 700;
                }
            }

            .chat-support-benefits-chips {
                font-size: 12px;
                margin-bottom: 16px;
            }

        }

        .chat-support-price-details {
            .priceMRP {
                color: #757575;
                font-size: 12px;
            }

            .actualPrice {
                font-size: 16px;
                font-weight: 500;
                color: #333030;
            }

            .free-text {
                font-weight: 500;
            }
        }
    }

    // GCSK-1654 End

    .social-proof-banner {
        display: block;
        width: 100%;
        margin-bottom: 16px;
    }

    .oziva-cart-body {
        .oziva-mob-container {
            .oziva-cart-web {
                .cart-item-popup {
                    .modal-with-head {
                        .modal-dialog {
                            .close-modal {
                                right: 6px !important;
                            }

                            .modal-content {
                                .modal-head {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    margin: 0;
                                    z-index: 1000000;
                                }

                                .modal-body {
                                    margin-top: 34px;
                                    overflow: auto;
                                    min-height: 300px;
                                    max-height: 70vh;

                                    .popup-product-title {
                                        font-weight: 500;
                                        font-size: 16px;
                                        margin: 16px 16px 16px 0;
                                        line-height: 22px;
                                    }

                                    // UDS-674-Start
                                    .heading-text {
                                        color: #006E5A;
                                        margin-left: 16px;
                                        margin-top: 16px;
                                        font-size: 16px;

                                        span {
                                            font-weight: 700;
                                        }
                                    }

                                    .banner-image {
                                        width: 85%;
                                        margin-left: 16px;
                                    }

                                    .nutritionist-container {
                                        display: flex;
                                        margin: 16px 0;

                                        .nutritionist-card {
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            justify-content: center;

                                            .nutritionist-image {
                                                border-radius: 50%;
                                                width: 80px;
                                                height: 80px;
                                                margin-bottom: 8px;
                                            }

                                            .nutritionist-info {
                                                text-align: center;
                                            }

                                            .nutritionist-name {
                                                font-weight: 700;
                                            }
                                        }
                                    }

                                    .consultation-reviews {
                                        padding: 0 16px;

                                        .consultation-reviews-heading {
                                            font-weight: 700;
                                            font-size: 16px;
                                            color: #006E5A;
                                        }

                                        .consultation-reviews-subheading {
                                            font-size: 16px;
                                            color: #006E5A;
                                        }

                                        .reviews-consultation-sec {
                                            .flickity-viewport::-webkit-scrollbar {
                                                display: none;
                                            }

                                            .flickity-viewport {
                                                min-height: 300px;
                                                overflow: auto;
                                                scrollbar-width: none;

                                                .review-item {
                                                    display: flex;
                                                    border-radius: 0 10px 10px 10px;
                                                    box-shadow: 0px 2px 6px 0px #D8D7D7;
                                                    margin-right: 16px;
                                                    width: 320px;
                                                    padding: 16px;
                                                    gap: 4px;
                                                    border: 1px solid #eeeeee;
                                                    margin-top: 16px;

                                                    .reviewer-image {
                                                        width: 30px;
                                                        height: 30px
                                                    }

                                                    .reviewer-content {
                                                        .reviewer-info {
                                                            display: flex;
                                                            justify-content: space-between;

                                                            .title {
                                                                color: #333030;
                                                            }

                                                            .postedAgo {
                                                                color: #7E7E7E;
                                                            }
                                                        }

                                                        .user-rating {
                                                            display: flex;
                                                            margin-bottom: 4px;

                                                            .rating-icon {
                                                                height: 14px;
                                                                width: 14px;
                                                            }
                                                        }

                                                        .review-desc {
                                                            color: #7E7E7E;
                                                        }
                                                    }

                                                }
                                            }

                                            .flickity-page-dots {
                                                bottom: 8px !important;
                                            }
                                        }

                                        .reviews-list-sec {
                                            margin-left: 16px;
                                            margin-top: 16px;
                                            min-height: 220px;

                                            .flickity-viewport {
                                                min-height: 200px;

                                                .flickity-slider {
                                                    width: 100%;

                                                    .review-item {
                                                        display: flex;
                                                        box-shadow: 0 2px 6px #00000024;
                                                        border-radius: 0px 10px 10px 10px;
                                                        padding: 8px;
                                                        width: 304px;
                                                        margin-right: 24px;
                                                        gap: 4px;

                                                        .reviewer-image {
                                                            width: 30px;
                                                            height: 30px
                                                        }

                                                        .review-content {
                                                            .title-container {
                                                                display: flex;
                                                                justify-content: space-between;

                                                                .title {
                                                                    font-size: 12px;
                                                                    font-weight: 500;
                                                                }

                                                                .postedAgo {
                                                                    color: #7E7E7E;
                                                                    font-size: 10px;
                                                                }
                                                            }

                                                            .user-rating {
                                                                display: flex;
                                                            }

                                                            .review-desc {
                                                                color: #7E7E7E;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .consultation-body {
                                        padding: 8px;
                                        background: #F0FAF0;
                                        margin: 8px;
                                        border-radius: 4px;

                                        .consultation-info {
                                            .consultation-text {
                                                font-size: 13px;
                                                font-weight: 500;
                                                margin-bottom: 2px;
                                                display: flex;
                                                align-items: center;

                                                img {
                                                    width: 32px;
                                                }
                                            }
                                        }
                                    }

                                    // UDS-674-End
                                    .uds-560-consultation-banner {
                                        margin: 8px;
                                    }


                                    .popup-benefit-chips {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 8px;
                                        margin-bottom: 16px;

                                        p {
                                            padding: 0px 4px;
                                            border-radius: 2px;
                                            background: #F1FFEE;
                                            border: 1px solid #C8E6C8;
                                        }
                                    }

                                    .footer-icons-v1 {
                                        .footer-icons-container {
                                            background: #FFF;
                                        }
                                    }

                                    .oziva-pdp-content-area {
                                        .sticky-top {
                                            top: 80px;
                                            z-index: 2;
                                            position: sticky;

                                            .thumbnail-images {
                                                margin-top: 8px;
                                            }
                                        }
                                    }

                                    .footer-icons-v1 {
                                        margin-bottom: 100px !important;
                                    }

                                    .footer-icons-v2 {
                                        display: none;
                                    }
                                }

                                .uds-559-proceed-to-checkout-btn {
                                    position: fixed;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: 0 6px 8px;
                                    background: #fff;
                                    z-index: 100000;
                                    border-radius: 0 0 8px 8px;

                                    button {
                                        margin-bottom: 12px;
                                    }

                                    .uds-559-popup-nudge {
                                        color: #F04E23;
                                        background: #F9D2C7;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-bottom: 8px;
                                    }
                                }
                            }
                        }
                    }
                }

                //UDS-563 Start
                .uds-563-upgrade-cart-container {
                    .expert-recommended-tag-exp {
                        font-size: 12px;
                    }

                    .upgrade-cart-box {
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid #F4E47C;
                        align-items: center;
                        background: #FFF29E;
                        padding: 16px 8px 8px 8px;
                        box-sizing: border-box;
                        border-radius: 4px;

                        .upgrade-text {
                            .animation-image {
                                display: flex;

                                img {
                                    width: 34px;
                                    height: 34px;
                                }
                            }

                            .upgrade-cart-text {
                                .text-1 {
                                    font-size: 12px;
                                }

                                .text-3 {
                                    font-size: 11px;
                                }
                            }
                        }

                        button {
                            height: 32px;
                        }
                    }
                }

                .uds-563-cart-upgrade-popup {
                    .footer-icons-col {
                        .modal-with-head {
                            .modal-dialog {
                                .modal-content {
                                    .modal-head {
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        margin: 0;
                                        z-index: 1000000;
                                    }

                                    .model-body {
                                        margin-top: 16px;
                                        overflow: hidden;
                                        min-height: 38vh !important;

                                        .pack-listing-card-container {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 8px;
                                            margin: 16px 8px 24px 8px;

                                            .pack-listing-card {
                                                width: 32%;
                                            }

                                            .pack-listing-card.active {
                                                width: 37%;
                                            }
                                        }

                                        .oziva-mob-footer-1 {
                                            .image-container {

                                                img {
                                                    width: 44px;
                                                    height: 44px;
                                                }

                                                .product-ratings {

                                                    .ratings-number {
                                                        font-size: 11px;
                                                    }

                                                    svg {
                                                        height: 14px;
                                                        width: 14px;
                                                    }
                                                }
                                            }

                                            .footer-container {
                                                .pdp-v2-cta-btn {
                                                    height: 42px !important;
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                //UDS-563 End


            }
        }
    }
}

@media only screen and (max-width: 668px) {
    .abs-prod-list-section h2 {
        margin: 16px 0 8px;
        font-size: 14px;
        line-height: 18.2px;
    }

    .abs-modal-content,
    .abs-prod-card-list {
        padding: 8px;
    }

    .abs-modal-content {
        margin-bottom: 4px;
    }

    .abs-prod-card-top-name {
        flex-wrap: wrap;
    }

    .abs-modal {
        align-items: flex-end;
    }

    .abs-prod-card-top {
        column-gap: 8px;
    }

    .abs-prod-card-top-name h3 {
        font-size: 13px;
        line-height: 16.9px;
    }

    .abs-prod-card-top-name .abs-prod-card-top-price {
        font-size: 12px;
        line-height: 18px;
    }

    .abs-modal-content hr {
        margin: 8px 0;
    }

    .abs-modal-content h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .abs-prod-card-header {
        font-size: 11px;
        line-height: 13px;
        column-gap: 8px;
        padding: 8px 4px;
        white-space: nowrap;
        overflow: auto;
    }

    .abs-prod-card-list {
        column-gap: 4px;
    }

    .abs-prod-card-list-dtl h5 {
        font-size: 14px;
        line-height: 18.2px;
        margin-bottom: 4px;
    }

    .abs-prod-review {
        font-size: 11px;
        margin: 0 0 4px;
    }

    .product-price-dtls {
        font-size: 13px;
    }

    .product-price-dtls .item-price {
        font-size: 13px;
    }

    .prime-cart-item-price {
        gap: 2px;

        s.text-off-gray.mr-2 {
            font-size: 12px;
            letter-spacing: 0.4px;
            line-height: 15.6px;
        }
    }

    .product-price-dtls .offer {
        font-size: 12px;
    }

    .prime-cart-item-price .prod-price {
        font-size: 13px;
    }
}

@media only screen and (max-width: 390px) {
    .oziva-cart-body {
        .oziva-mob-container {
            .oziva-cart-web {
                .uds-563-upgrade-cart-container {
                    .expert-recommended-tag-exp {
                        font-size: 10px;
                        padding: 0 6px;
                    }

                    .upgrade-cart-box {
                        padding: 12px 8px 4px 8px;

                        .upgrade-text {
                            .animation-image {
                                img {
                                    width: 30px;
                                    height: 30px;
                                }
                            }

                            .upgrade-cart-text {
                                .text-1 {
                                    font-size: 12px;
                                }

                                .text-2 {
                                    font-size: 11px;
                                }

                                .text-3 {
                                    font-size: 11px;
                                    margin-top: -1px;
                                }
                            }
                        }

                        button {
                            font-size: 11px;
                            padding: 4px 8px;
                        }
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .oziva-cart-body {
        .oziva-mob-container {
            .oziva-cart-web {
                .uds-563-cart-upgrade-popup {
                    .footer-icons-col {
                        .modal-with-head {
                            .modal-dialog {
                                .modal-content {
                                    .model-body {
                                        .pack-listing-card-container {
                                            .pack-listing-card {
                                                .pack-listing-recommended-tag {
                                                    font-size: 9px;
                                                }

                                                .pack-listing-image {
                                                    .pack-name {
                                                        font-size: 11px;
                                                    }

                                                    .pack-qty {
                                                        font-size: 11px;
                                                    }
                                                }

                                                .pack-listing-pricing {
                                                    .pack-listing-save {
                                                        font-size: 11px;
                                                    }
                                                }
                                            }

                                            .pack-listing-card.active {
                                                .pack-listing-recommended-tag {
                                                    font-size: 11px;
                                                }

                                                .pack-listing-image {
                                                    .pack-name {
                                                        font-size: 12px;
                                                    }

                                                    .pack-qty {
                                                        font-size: 11px;
                                                    }
                                                }

                                                .pack-listing-pricing {
                                                    .pack-listing-save {
                                                        font-size: 11px;
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // GCSK-1654 Start
    .gcsk-1654-exp-chat-support-container {
        .chat-support-price-details {
            .priceMRP {
                color: #757575;
                font-size: 12px;
            }

            .actualPrice {
                font-size: 16px;
                font-weight: 500;
                color: #333030;
            }
        }
    }

    .saving-corner-container {
        .product-savings-container {
            .saving-text {
                font-size: 12px;
            }
        }
    }

    // GCSK-1654 End
}