.oz-collection-container{
    max-width: 982px;
    margin: 0 auto;
    display: flex;
    align-items: self-start;
    flex-direction: column;
}
.oz-filter-section {
    flex: 1;
    display: flex;
    min-width: 265px;
    padding: 8px;
    background: #fff;
    flex-direction: column;
    border-radius: 4px;
    gap: 8px;
    position: relative;
    margin-bottom: 8px;
    .filter-button{
        background: #fff;
        border: 0;
        padding: 0;
        font-size: 14px;
        color: #7E7E7E;
        text-align: left;
        span{
            color: #333030;
        }
    }
    .radio_buttons_wrap {
        padding-left: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        .radio_buttons {
            display: flex;
            align-items: center;
            label {
                margin-left: 8px;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .filter-arrow{
        position: absolute;
        right: 8px;
        top: 8px;
    }
}
.oz-filter-section-mobile{
    display: none;
}
// START CATEGORY STYLING

.collection-bubbles-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .collection-bubble{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        picture {
            text-align: center;
            img{
            
            }
        }
    }
}
.collections-lists {
    max-width: 714px;
    // min-width: 714px;
    margin: auto;
    .collections-lists-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        width: 100%;
        .col-left-title{
            display: flex;
            color: #333030;
            align-items: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.027px;
            svg{
                display: block;
            }
        }
        .col-right-no-item{
            color: #333030;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.065px;
        }
    }
    // for 2 products
        // .product-card-box-v1{
        //     flex-basis: calc(50% - 11px) !important;
        //     max-width: calc(50% - 11px) !important;
        // }
}
// END CATEGORY STYLING

@media only screen and (max-width: 768px){
    .oz-collection-page-content {
        padding: 0 8px !important;
        margin-top: 16px;
    }
    .oz-filter-section{
        display: none;
    }
    .oz-filter-section-mobile{
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
        background: #fff;
        width: 100%;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 9px 9px 8px rgb(0 0 0 / 68%);
        -webkit-box-shadow: 0px 9px 9px 8px rgb(0 0 0 / 68%);
        -moz-box-shadow: 0px 9px 9px 8px rgb(0 0 0 / 68%);
        button {
            color: #006E5A;
            font-size: 14px;
            border: 0;
            background: #fff;
            padding: 16px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    // START CATEGORY STYLING
    .collections-lists {
        min-width: 0;
        .collections-lists-header {
            .col-left-title{
                font-size: 18px;
            }
            .col-right-no-item{
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.18px;
            }
        }
    }
    // START CATEGORY STYLING
}