.cat-concerns-main {
    max-width: 540px;
    margin: 0 auto;
    padding: 32px 16px;

    .cat-concerns-head {
        margin-bottom: 32px; 

        h2 {
            color: #333030;
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: 0.03px;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            text-transform: none;

            button {
                svg {
                    display: block;
                    margin-left: -7px;
                }
            }
        }

        h3 {
            color: #333030;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.021px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            border-radius: 8px;
            background: rgba(224, 224, 224, 0.87);
            padding: 0 20px;
            height: 100px;
            display: flex;
            align-items: center;
            color: #006E5A;
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.024px;
            cursor: pointer;

            svg {
                rotate: 180deg;

                path {
                    fill: #006E5A;
                }
            }
        }

        &.cat-concerns-l1 {
            li {
                padding: 0;
                height: auto;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }

        &.cat-concerns-l2 {
            li {
                background: #FECC0E4D;

                &:nth-child(even) {
                    background: #92D7E74D !important;
                }
            }
        }
    }
}

.concern-border{
    border: none;
    margin-top: 0;
    padding: 0;
}
.bubbles-container-border{
    border: 1px solid #E0E0E0 !important;
    border-radius: 4px !important;
}
.concerns-goals {
    max-width: 714px;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
    padding: 32px 0 0 0;
    border-bottom: none;
    .bubbles-container::-webkit-scrollbar{
        display: none;
    }
    .horizontal-line{
        width: 100%;
        padding: 0 16px;
        margin: 8px 0 0px 0;
        hr{
            margin: 0;
        }
    }
    .bubbles-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: auto;
        border-radius: 4px;
        .bubbles{
            text-align: center;
            min-width: 150px;
            picture {
                img{
                    width: 90px;
                    height: 90px;
                }
            }
            .bubble-name{
                color: #7E7E7E;
                font-size: 14px;
            }
        }
        .active-bubble{
            text-align: center;
            min-width: 150px;
            picture {
                img{
                    width: 90px;
                    height: 90px;
                    border: 2px solid #F04E23;
                    border-radius: 50%;
                    max-width: unset;
                }
            }
            .bubble-name{
                font-size: 14px;
            }
        }
    
    }

    .oz-collection-page-content {
        padding: 16px 0;
    }

    .collections-lists .collections-lists-header .col-left-title {
        font-size: 20px;
    }
}
.goal-container::-webkit-scrollbar{
    display: none;
}
.goal-container {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    background: #FFF;
    overflow: auto;
    max-width: 714px;
    margin: 0 auto;
    border: 1px solid #E0E0E0;
    border-top: none;
    border-radius: 0 0 4px 4px;
    position: sticky;
    top: 0px;
    z-index: 3;
    .goal-item {
        display: flex;
        padding: 8px 32px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 2px;
        color: #333030;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #E0E0E0;
        background: #FFF;
        cursor: pointer;
        white-space: nowrap;
    }


    .active {
        border: 1px solid #6BBD58;
        background: #F1FFEE;

    }

}

@media screen and (min-width: 768px) {
    .cat-concerns-main .cat-concerns-head h2 button {
        display: none;
    }

    .cat-concerns-main .cat-concerns-head h3 {
        margin-left: 0 !important;
    }

    .concerns-goals {
        .oz-collection-product-card-listing .product-card-box-v1 {
            max-width: 226px;
            flex-basis: 226px;
        }
    }
}

@media screen and (max-width: 992px) {
    .cat-concerns-main {
        padding: 16px;

        .cat-concerns-head {
            margin-bottom: 16px;

            h2 {
                margin-bottom: 8px;
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0.027px;

                button {
                    svg {
                        display: block;
                        margin-left: -7px;
                    }
                }
            }

            h3 {
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 0.065px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                border-radius: 4px;
                padding: 0 32px;
                height: 84px;
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .bubbles-container-border{
        border: none !important;
    }
    .concerns-goals {
        border: none;
        padding-bottom: 16px;
        margin-top: 0;
        padding: 8px 0 0 0;
        .horizontal-line{
            padding: 0;
            margin-bottom: 8px;
        }

        .goal-sec {
            padding: 0 0 16px !important;
            overflow: auto;
        }

        .oz-collection-page-content {
            margin-top: 18px !important;
        }

        .collections-lists .collections-lists-header .col-left-title {
            font-size: 16px;
        }
        .bubbles-container{
            position: sticky;
            padding-bottom: 16px;
            // border-bottom: 1px solid #E0E0E0;
            .bubbles{
                text-align: center;
                min-width: 100px;
                picture {
                    img{
                        width: 70px;
                        height: 70px;
                    }
                }
                .bubble-name{
                    font-size: 12px;
                    line-height: 17px;
                }
            }
            .active-bubble{
                text-align: center;
                min-width: 100px;
                picture {
                    img{
                        width: 70px;
                        height: 70px;
                        border: 2px solid #F04E23;
                        border-radius: 50%;
                        max-width: unset;
                    }
                }
                .bubble-name{
                    font-size: 12px;
                }
            }
        
        }
    }
    .goal-container {
        width: 412px;
        padding: 8px;
        gap: 8px;
        top: 0px;
        width: 100%;
        z-index: 3;

        .goal-item {
            padding: 8px 16px;
            gap: 10px;
            border-radius: 2px;
            font-size: 13px;
            font-weight: 500;

        }

    }
}

@media only screen and (max-width: 400px) {
    .concerns-goals {


        .oz-collection-page-content {
            margin-top: 18px !important;
        }

        .collections-lists .collections-lists-header .col-left-title {
            font-size: 13px;
        }
    }
}