@import '../import/variables';
:root {
    --dark-green: #004141;
    --font-family-regular: "manrope-regular";
    --font-family-bold: "manrope-extrabold";
}

.rating-icon {
    width: 14px;
    height: 12px;
    position: relative;
}

.rating-icon::before {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.rating-filled-icon::before {
    background-image: url("https://cdn.shopify.com/s/files/1/0366/1004/8044/files/filled_star.svg?v=1724055254");
}

.rating-empty-icon::before {
    background-image: url("https://cdn.shopify.com/s/files/1/0366/1004/8044/files/empty_star.svg?v=1724055254");
}

.rating-partial-icon::before {
    background-image: url("https://cdn.shopify.com/s/files/1/0366/1004/8044/files/half_star.svg?v=1724055254");
}

@mixin mobile-common-header-style {
    font-size: 20px;
    line-height: 28px;
}

.hv-header-container {
    picture {
        img {
            height: 400px;
        }
    }
}

.hv-content-container {
    max-width: 950px;
    margin: 64px auto 0 auto;

    .sticky {
        position: sticky;
    }

    .sticky-button {
        position: fixed;
        bottom: 8px;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solid #BDBDBD;
        border-radius: 12px;
        max-width: 944px;
        margin: 0 auto;
        z-index: 1000;

        .sticky-button-header {
            display: flex;
            justify-content: center;
            color: #F04E23;
            background: #FCF0ED;
            border-radius: 12px 12px 0 0;
            padding: 4px 16px;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            gap: 6px;

            span {
                margin-right: 4px;
                margin-top: 2px;
            }
        }

        .sticky-button-pricing-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 4px 64px;
            align-items: center;

            .sticky-button-pricing {
                .mrp-text {
                    font-size: 14px;
                }

                .sticky-button-mrp {
                    font-size: 14px;
                    color: #7E7E7E;
                    margin-right: 8px;
                    text-decoration: line-through;
                }

                .sticky-button-selling-price {
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            .sticky-button-buy-now-btn {
                border: none;
                background: $orangeVibrantShade;
                border-radius: 12px;
                padding: 7px 64px;
                color: #FFF;
                font-weight: 700;
            }
        }

        .sticky-footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 2px;

            .thumb-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 2px;

                img {
                    width: 50px;
                    height: 50px;
                }

                .rating-icon {
                    width: 14px;
                    height: 14px;
                }

                .rating-text {
                    color: var(--grey_scale_grey, #7E7E7E);
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                }

            }

            .btn {
                background: var(--primary-PC_500, #F04E23);
                display: flex;
                padding: 8px;
                align-items: center;
                color: #fff;
                border-radius: 4px;
                border: 0;
                width: 282px;
            }

            .mrp-text {
                font-size: 12px;
            }

            .strike-text {
                font-size: 11px;
            }

            .price {
                font-size: 16px;
            }

            .line {
                width: 1px;
                background: var(--neutral_clear_white, #FFF);
                height: 24px;
                margin: 0 4px;
            }

            .save-text {
                font-size: 11px;
            }

            .buynow-text {
                font-size: 14px;
                margin-left: auto;
            }
        }
    }

    .clinically-proven-result {
        margin-top: 32px;

        .clinically-proven-result-header {
            font-size: 24px;
            margin-bottom: 32px;
            line-height: 30px;
            color: var(--dark-green);
            ;
            font-family: var(--font-family-regular);

            span {
                font-weight: 700;
            }
        }

        .clinically-proven-result-content {
            .list-container {
                gap: 32px;
            }

            .article-item {
                flex-basis: 50%;
                gap: 16px;
                justify-content: left;
                padding-left: 32px;

                .title {
                    font-family: var(--font-family-bold);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 19.5px;
                    color: var(--dark-green);
                    ;
                }

                .count {
                    color: var(--dark-green);
                    ;
                    min-width: 150px;
                    margin-left: -8px;
                    font-weight: 600;

                    .percentage-sign {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

    }

    .backed-by-science {
        margin-top: 32px;

        .backed-by-science-header {
            font-size: 24px;
            margin-bottom: 32px;
            color: var(--dark-green);
            ;
            font-family: var(--font-family-regular);
            line-height: 30px;

            span {
                font-weight: 700;
            }
        }

        .backed-by-science-sec {
            .list-container {
                gap: 32px;

                .article-item {
                    flex-basis: 50%;
                    gap: 16px;
                    justify-content: left;
                    padding-left: 32px;

                    .title {
                        font-family: var(--font-family-bold);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 19.5px;
                        color: var(--dark-green);
                        ;
                    }

                    .count {
                        color: var(--dark-green);
                        ;
                        min-width: 90px;
                        margin-left: -8px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .awcp-container {
        margin: 32px 0;
        background-color: #F5F5F5;

        .awcp-header {
            font-size: 24px;
            color: var(--dark-green);
            ;
            font-family: var(--font-family-regular);
            line-height: 30px;
            padding: 16px 0 0 16px;

            .awcp-bold-title {
                font-weight: 700;
            }
        }

        .awcp-content {
            margin-top: 16px;
            display: flex;
            flex-wrap: wrap;

            .awcp-content-item {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
                padding: 16px;
                flex-basis: calc(50% - 10px);

                picture {
                    img {
                        flex-basis: calc(50% - 10px);
                        height: 110px;
                        border-radius: 8px;
                    }
                }

                .awcp-text {
                    flex-basis: 50%;

                    .awcp-title {
                        font-size: 18px;
                        line-height: 22px;
                        font-family: var(--font-family-regular);
                    }

                    .awcp-sub-text {
                        font-size: 14px;
                        color: var(--dark-green);
                        ;
                        margin-top: 6px;
                    }
                }
            }

            .awcp-content-item:nth-child(even) {
                border-right: none;
            }

            .awcp-content-item:nth-child(odd) {
                border-right: 2px solid #E0E0E0;
            }

            .awcp-content:nth-last-child(-n + 2) {
                border-bottom: none;
            }


        }
    }

    .hv-product-container {
        .hv-product-title {
            font-size: 24px;
            color: var(--dark-green);
            ;
            line-height: 30px;
            margin-bottom: 32px;

            .hv-product-bold-title {
                font-weight: 700;
            }
        }

        .hv-product-img {
            text-align: center;

            img {
                width: 300px;
            }

            .hv-product-text {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                color: var(--dark-green);
                font-weight: 600;
                font-size: 16px;
            }

            .benefit-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 4px;

                .benefit-item {
                    display: flex;
                    color: var(--secondary_bootle_green, #004141);
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    gap: 4px;
                    margin-left: 8px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .hv-product-item-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .hv-product-img {
                flex-basis: 30%;
            }

            .hv-product-information {
                flex-basis: 70%;

                .hv-product-item:nth-child(even) {
                    background-color: #FFF;
                }

                .hv-product-item:nth-child(odd) {
                    background-color: #F1FFEE;
                }

                .hv-product-item {
                    gap: 16px;
                    display: flex;
                    align-items: center;
                    padding: 8px;

                    .hv-product-item-left {
                        flex-basis: 20%;

                        img {
                            width: 100%;
                            height: 110px;
                            border-radius: 30px;
                        }
                    }

                    .hv-product-divider {
                        .hv-product-vertical-line {
                            border-left: 2px solid var(--dark-green);
                            ;
                            margin-left: 4.7px;
                            height: 70px;
                        }

                        .hv-product-arrow {
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-top: 10px solid black;
                        }
                    }

                    .hv-product-item-right {
                        text-align: center;
                        margin: auto;
                        flex-basis: 70%;
                        font-size: 14px;

                        .hv-product-item-right-title {
                            margin-bottom: 8px;
                        }

                        span {
                            background-color: var(--dark-green);
                            ;
                            color: #FFF;
                            font-weight: 800;
                            padding: 4px 8px;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }

    .testimonials-container {
        margin-top: 32px;

        .testimonials-header-container {
            font-family: var(--font-family-regular);
            padding: 0;

            .testimonials-header {
                color: var(--dark-green);
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 32px;

                span {
                    font-weight: 700;
                }
            }
        }

        .press_container {
            .press_carousel-main {
                .flickity-viewport {
                    .flickity-slider {
                        .testimonials-item-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            border-radius: 4px;
                            padding: 16px;
                            width: 92%;

                            .testimonials-title {
                                text-align: center;
                                margin-bottom: 8px;
                                font-size: 14px;
                                font-weight: 500;
                            }

                            .testimonials-item {
                                display: flex;
                                border: 1px solid var(--dark-green);
                                ;
                                padding: 32px;
                                gap: 32px;
                                border-radius: 8px;

                                .testimonials-item-image {
                                    display: flex;
                                    flex-basis: 55%;

                                    img {
                                        width: 100%;
                                        height: 367px;
                                        border-radius: 8px;
                                    }
                                }

                                .testimonials-content {
                                    display: flex;
                                    flex-basis: 53%;
                                    flex-direction: column;
                                    justify-content: space-between;

                                    .testimonials-item-content {
                                        color: var(--dark-green);
                                        flex-basis: 53%;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 8px;

                                        .testimonials-item-heading {
                                            .testimonials-item-heading-name {
                                                margin-bottom: 16px;
                                                font-size: 16px;
                                                font-weight: 500;
                                            }

                                            .testimonials-item-heading-description {
                                                font-size: 20px;
                                                font-weight: 700;
                                                line-height: 23px;
                                            }
                                        }

                                        .testimonials-item-description {
                                            font-size: 16px;
                                            line-height: 24px;
                                            min-height: 242px;
                                        }

                                        .benefit-container {
                                            display: flex;
                                            flex-direction: row;
                                            gap: 4px;
                                            flex-wrap: wrap;
                                            margin-top: 8px;

                                            .benefit-item {
                                                flex-direction: row;
                                                align-items: center;
                                                display: flex;
                                                font-size: 15px;
                                                font-weight: 600;
                                                gap: 2px;
                                            }
                                        }
                                    }

                                    .testimonials-item-footer {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        margin-top: 16px;

                                        .testimonials-item-rating {
                                            display: flex;
                                            gap: 8px;

                                            svg {
                                                path {
                                                    fill: #004141;
                                                }
                                            }
                                        }

                                        .testimonials-read-more-button {
                                            border: none;
                                            background-color: #FFF;
                                            color: var(--dark-green);
                                            ;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .testimonials-bubbles-container {
            .flickity-viewport {
                .flickity-slider {
                    .press_carousel-cell {
                        width: 10%;
                        margin-right: 0;

                        .testimonial-bubble-item {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;

                            img {
                                border-radius: 50%;
                                width: 70px;
                                height: 70px;
                                opacity: 0.7;
                            }

                            .active {
                                border: 2px solid var(--dark-green);
                                ;
                                opacity: 1;
                                padding: 2px;
                            }
                        }
                    }
                }
            }

            .flickity-prev-next-button {
                border: 1px solid #BDBDBD;
                background: #F5F5F5;
                padding: 12px;

                &.previous {
                    left: -10px !important;
                }

                &.next {
                    right: -10px !important;
                }
            }

            .flickity-page-dots {
                display: none !important;
            }
        }

        .footer-icon-popup {
            .sticky-bottom {
                position: sticky;
                bottom: 0;
            }
        }

    }

    .program-crafted-container {
        background-color: var(--dark-green);
        ;
        padding: 32px;
        border-radius: 4px;
        margin-top: 32px;

        .program-crafted-header {
            font-weight: 700;
            font-size: 24px;
            color: #FFF;
            font-family: var(--font-family-regular);
            margin-left: 18px;
            line-height: 30px;
        }

        .program-crafted-content {
            display: flex;
            flex-wrap: wrap;
            margin-top: 32px;

            .program-crafted-item {
                flex-basis: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                .program-crafted-icon {
                    padding: 18px;
                    border: 1px solid var(--dark-green);
                    ;
                    border-radius: 32px;
                    background-color: rgba(255, 255, 255, 0.1);
                }

                .program-crafted-icon-text {
                    color: #FFF;
                    text-align: center;
                    font-size: 14px;

                    div {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .program-information-container {
        margin-top: 32px;

        .program-information-header {
            font-size: 24px;
            color: var(--dark-green);
            margin-bottom: 32px;
            line-height: 30px;
            font-family: var(--font-family-regular);

            span {
                font-size: 24px;
                font-weight: 700;
                color: var(--dark-green);
                ;
                line-height: 32px;
            }
        }

        .program-information-content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin-bottom: 32px;

            .program-information-data {
                display: flex;
                gap: 16px;
            }

            .program-information-data-left,
            .program-information-data-right {
                flex-basis: 50%;
                display: inline-flex;

                picture {
                    img {
                        border-radius: 4px;
                    }
                }
            }

            .program-information-data-left {
                .program-information-data-left-header {
                    margin-left: 16px;

                    .program-information-data-left-title {
                        font-size: 20px;
                        color: var(--dark-green);
                        ;
                        font-weight: 700;
                        font-family: var(--font-family-regular);
                        line-height: 28px;
                        margin-top: -2px;
                    }

                    .program-information-data-left-description {
                        font-size: 16px;
                        color: var(--dark-green);
                        ;
                        margin-top: 16px;
                        line-height: 24px;
                    }
                }

                .program-information-data-index {
                    border: 1px solid #E0E0E0;
                    border-radius: 50%;
                    min-width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #E0E0E0;
                    font-weight: 700;
                }
            }

            .program-information-data:nth-child(odd) {
                flex-direction: row;
            }

            .program-information-data:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    .consistency-is-the-key-banner {
        picture {
            img {
                border-radius: 4px;
            }
        }
    }

    .hv-google-reviews {
        .sec-header {
            color: #FFF;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
        }

        .sub-title {
            font-size: 20px;
            color: #FFF;
            margin-top: 8px;
        }

        .goolge-review-sec {
            background-color: var(--dark-green);
            ;
            border-radius: 4px;

            .reviews-list-sec {
                .review-item {
                    background: #FFFFFF1A;

                    .title-img {
                        .title-sec {
                            .title {
                                color: #FFF;
                            }

                            .sub-text {
                                color: #BDBDBD;
                            }
                        }
                    }

                    .review-heading {
                        font-size: 14px;
                        font-weight: 500;
                        color: #FFF;
                        margin: 8px 0;
                    }

                    .review-desc {
                        color: #FFF;
                    }
                }

                .flickity-page-dots {
                    background-color: #004141;
                }
            }

            .rating-sec {
                .ratings {
                    .rating-text {
                        color: #FFF;
                    }
                }
            }

            .total-reviews {
                color: #BDBDBD;
            }
        }
    }

    .faq-container {
        margin-top: 32px;
        margin-bottom: 16px;

        .faq-header {
            font-size: 24px;
            font-weight: 700;
            color: var(--dark-green);
            ;
            margin-bottom: 32px;
            font-family: var(--font-family-regular);
            line-height: 30px;
        }

        .faq-item {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .faq-quetion-div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;
                cursor: pointer;

                .question {
                    display: flex;
                    gap: 8px;

                    .faq-question {
                        font-size: 16px;
                        color: var(--dark-green);
                        ;
                        font-weight: 500;
                        margin: 0;
                    }
                }
            }

            .contracted {
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.4s linear;
                font-size: 14px;
                font-weight: 400;
                color: var(--dark-green);
                ;
                line-height: 21px;

                .faq-extra-points {
                    li {
                        list-style: disc;
                        margin: 8px 32px;
                    }
                }
            }

            .expanded {
                max-height: 1000px;
                transition: max-height 0.4s linear;
                font-size: 14px;
                font-weight: 400;
                color: var(--dark-green);
                ;
                line-height: 21px;

                .faq-extra-points {
                    li {
                        list-style: disc;
                        margin: 8px 32px;
                    }
                }
            }

            .faq-horizontal-line {
                margin: 8px 0 16px 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .hv-header-container {
        margin: 0 auto;
        min-height: 325px;
    }

    .hv-content-container {
        margin: 0 16px;

        .sticky-button {
            margin: 0 8px 0 8px;
            border-radius: 8px;

            .sticky-button-header {
                gap: 4px;
                border-radius: 8px 8px 0 0;

                span {
                    margin-top: 4px;
                }
            }

            .sticky-button-pricing-details {
                padding: 4px 8px;

                .sticky-button-buy-now-btn {
                    width: 175px;
                    padding: 8px 16px;
                    font-size: 14px;
                    border-radius: 8px;
                }

                .sticky-button-pricing {
                    .mrp-text {
                        font-size: 13px;
                    }

                    .sticky-button-mrp {
                        font-size: 13px;
                    }

                    .sticky-button-selling-price {
                        font-size: 16px;
                    }
                }

            }

            .sticky-footer-container {

                justify-content: space-around;
                gap: 16px;
                padding: 4px;

                .thumb-container {

                    img {
                        width: 44px;
                        height: 44px;
                    }

                    .rating-icon {
                        width: 16px;
                        height: 16px;
                    }

                    .rating-text {
                        font-size: 13px;
                    }

                }

                .btn {
                    width: 290px;
                }

                .mrp-text {}

                .strike-text {}

                .price {
                    margin-left: 2px;
                }

                .line {}

                .save-text {}

                .buynow-text {}
            }
        }

        .program-crafted-container {
            border-radius: 0px;
            padding: 16px 16px 32px 16px;
            margin: 32px -16px 0 -16px;

            .program-crafted-header {
                @include mobile-common-header-style;
                text-align: left;
                margin-left: 0;
            }

            .program-crafted-content {
                margin-top: 0;
                justify-content: space-between;

                .program-crafted-item {
                    flex-basis: 48%;
                    margin-top: 32px;
                }
            }
        }

        .faq-container {
            margin-top: 32px;

            .faq-header {
                @include mobile-common-header-style;
                margin-bottom: 16px;
            }

            .faq-item {
                .faq-quetion-div {
                    gap: 8px;

                    .question {
                        gap: 4px;

                        .faq-question {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }

                .expanded {
                    line-height: 20px;
                }

                .contracted {
                    line-height: 20px;
                }
            }
        }

        .awcp-container {
            background: #F5F5F5;
            margin: 32px -16px 0 -16px;
            padding: 0 16px;

            .awcp-header {
                @include mobile-common-header-style;
                padding: 16px 0 0 0;
            }

            .awcp-content {
                margin-top: 0px;
                flex-direction: column;

                .awcp-content-item {
                    margin: 0 -16px;
                    border-right: none !important;
                    flex-wrap: nowrap;

                    .awcp-text {
                        .awcp-sub-text {
                            margin-top: 8px;
                        }
                    }

                    picture {
                        img {
                            height: 100px;
                        }
                    }
                }
            }
        }

        .hv-product-container {
            margin-top: 32px;

            .hv-product-title {
                @include mobile-common-header-style;
            }

            .hv-product-item-container {
                flex-direction: column;

                .hv-product-img {
                    img {
                        width: 215px;
                    }

                    .hv-product-text {
                        font-size: 14px;
                    }

                    .benefit-container {
                        display: flex;
                        flex-direction: row;
                        gap: 0px;
                        margin: auto;
                        margin-left: 0;

                        .benefit-item {
                            font-size: 14px;
                            font-weight: 600;
                            gap: 4px;


                        }
                    }
                }

                .hv-product-information {
                    margin-top: 16px;

                    .hv-product-item {
                        margin: 0 -16px;
                        padding: 16px;

                        .hv-product-item-left {
                            flex-basis: 30%;
                            width: 100%;
                        }

                        .hv-product-divider {
                            .hv-product-vertical-line {
                                border-left: 2px solid var(--dark-green);
                                ;
                                margin-left: 4.5px;
                                height: 70px;
                            }
                        }

                        .hv-product-item-right {
                            text-align: center;
                            margin: auto;

                            .hv-product-item-right-title {
                                span {
                                    background-color: var(--dark-green);
                                    ;
                                    color: #FFF;
                                    font-weight: 800;
                                    padding: 4px 8px;
                                    border-radius: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .testimonials-container {
            margin-top: 32px;

            .testimonials-header-container {
                text-align: center;

                .testimonials-header {
                    @include mobile-common-header-style;
                    margin-bottom: 16px;
                }
            }

            .testimonials-bubbles-container {
                margin: 0;

                .flickity-viewport {
                    .flickity-slider {
                        .press_carousel-cell {
                            width: 33%;
                            ;
                        }
                    }
                }

                .flickity-prev-next-button {
                    border: 1px solid #BDBDBD;
                    background: #F5F5F5;
                    padding: 12px;

                    &.previous {
                        left: -10px !important;
                    }

                    &.next {
                        right: -10px !important;
                    }
                }
            }

            .press_container {
                margin-top: 16px;

                .press_carousel-main {
                    .flickity-viewport {
                        height: auto;

                        .flickity-slider {
                            .testimonials-item-container {
                                flex-direction: column;
                                padding: 0;
                                margin-right: 16px;
                                width: 98%;
                                gap: 0;

                                .testimonials-item {
                                    flex-direction: column;
                                    gap: 0px;
                                    padding: 0;

                                    .testimonials-item-image {
                                        padding: 16px 16px 0 16px;

                                        img {
                                            width: 100%;
                                            height: auto;
                                        }
                                    }

                                    .testimonials-content {
                                        padding: 16px;

                                        .testimonials-item-content {
                                            padding: 0px;
                                            gap: 16px;

                                            .testimonials-item-heading {
                                                .testimonials-item-heading-name {
                                                    font-size: 14px;
                                                }
                                            }

                                            .testimonials-item-heading-description {
                                                font-size: 18px !important;
                                                line-height: 25px !important;
                                            }

                                            .testimonials-item-description {
                                                font-size: 14px;
                                                line-height: 20px;
                                                min-height: 80px;
                                            }

                                            .benefit-container {
                                                gap: 8px;

                                                .benefit-item {
                                                    font-size: 14px;
                                                }
                                            }
                                        }

                                        .testimonials-item-footer {
                                            .testimonials-item-rating {
                                                gap: 4px;

                                                svg {
                                                    width: 16px;
                                                    height: 16px;
                                                }
                                            }

                                            .testimonials-read-more-button {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .program-information-container {
            margin-top: 32px;
            background: #004141;
            margin: 16px -16px 0 -16px;
            padding: 16px;

            .program-information-header {
                @include mobile-common-header-style;
                margin-bottom: 16px;
                color: #FFF;

                span {
                    @include mobile-common-header-style;
                    font-weight: 700;
                    margin-bottom: 16px;
                    color: #FFF;
                }
            }

            .program-information-content {
                gap: 16px;
                margin-bottom: 16px;

                .program-information-data {
                    flex-direction: column !important;
                    align-items: center;
                }

                .program-information-data-left {
                    gap: 8px;

                    .program-information-data-left-header {
                        margin-left: 0;

                        .program-information-data-left-title {
                            font-size: 18px;
                            line-height: 25px;
                            margin-top: 0;
                            color: #FFF;
                        }

                        .program-information-data-left-description {
                            font-size: 14px;
                            margin-top: 8px;
                            line-height: 21px;
                            color: #FFF;
                        }
                    }

                    .program-information-data-index {
                        min-width: 20px;
                        height: 20px;
                    }
                }

                .program-information-data-right {
                    width: 88%;
                    margin-left: 16px;

                    picture {
                        width: 95%;
                    }
                }
            }
        }

        .consistency-is-the-key-banner {
            margin: 0 -16px;

            picture {
                img {
                    border-radius: 0px;
                }
            }
        }

        .clinically-proven-result {
            margin: 32px -16px 0 -16px;

            .clinically-proven-result-header {
                @include mobile-common-header-style;
                padding: 0 16px;
                margin-bottom: 16px;
            }

            .clinically-proven-result-content {
                .list-container {
                    gap: 16px;
                }

                .article-item {
                    gap: 16px;
                    min-height: 86px;
                    padding-left: 32px;

                    .count {
                        font-size: 42px;
                        min-width: 88px;
                    }
                }
            }
        }

        .backed-by-science {
            margin: 32px -16px 0 -16px;

            .backed-by-science-header {
                @include mobile-common-header-style;
                padding-left: 16px;
                margin-bottom: 16px;
            }

            .backed-by-science-sec {
                .list-container {
                    gap: 16px;
                }

                .article-item {
                    gap: 16px;
                    min-height: 86px;
                    padding-left: 32px;

                    .count {
                        font-size: 42px;
                        min-width: 56px !important;
                    }

                    .arrow-icon {
                        width: 40px;
                        height: 24px;
                    }
                }
            }
        }

        .hv-google-reviews {
            margin: 0 -16px;

            .goolge-review-sec {
                border-radius: 0px;
            }

            .sec-header {
                @include mobile-common-header-style;
                margin-bottom: 16px;
            }
        }

    }
}

@media only screen and (max-width: 390px) {
    .sticky-button {
        .sticky-button-pricing-details {
            .sticky-button-buy-now-btn {
                width: 140px !important;
            }
        }

        .sticky-footer-container {
            gap: 10px !important;
            .btn {
                width: 260px !important;
            }
        }
    }

    .testimonials-container {
        .press_container {
            .press_carousel-main {
                .flickity-viewport {
                    .flickity-slider {
                        .testimonials-item-container {
                            .testimonials-item {
                                .testimonials-content {
                                    .testimonials-item-content {
                                        .benefit-container {
                                            gap: 4px !important;
                                            .benefit-item {
                                                font-size: 12px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .hv-product-container {
        .hv-product-item-container {
            .hv-product-img {
                .benefit-container {
                    flex-wrap: unset;
                    .benefit-item {
                        font-size: 13px !important;
                    }
                }
            }
        }
    }
   
}

@media only screen and (max-width: 360px) {
    .sticky-button {
        margin: 0 4px !important;
        .sticky-button-header{
            font-size: 13px !important;
        }
        .sticky-footer-container {
            .btn {
                width: 240px !important;
            }
        }
    }

    .hv-product-container {
        .hv-product-item-container {
            .hv-product-img {
                .benefit-container {
                    flex-wrap: unset;
                    .benefit-item {
                        font-size: 12px !important;
                        gap: 0;
                        img{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
   
}