.oz-cross-btn {
    position: absolute;
    right: -8px;
    top: -58px;
}

.oz-custom-popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 8px;
}

.oz-custom-popup.show {
    display: flex !important;
    z-index: 100000;
    .oz-model-custom-popup{
        .auth-error-popup-modal{
            z-index: 10000000;
        }
    }
}

.oz-custom-popup-body {
    background: #fff;
    padding: 20px;
    max-width: 420px;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    position: relative;
}

.oz-custom-popup-body h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 20px;
}

.oz-input-group .oz-input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #B3B3B3;
    padding: 10px 18px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

/* HTML: <div class="ribbon">Your text content</div> */
.highlight-text {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.send-cta .button {
    color: white;
    background-color: #6bbd58;
    border: none;
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 14px;
    height: 48px;
    cursor: pointer;
}

.accept_website_policy {
    font-size: 12px;
    color: #707070;
    padding: 10px 0 0 0;
    text-align: left;
}

.accept_website_policy a {
    color: #6BBD58 !important;
    cursor: pointer;
    text-decoration: none;
    line-height: 18px;
}

.exclusive-subtext {
    top: 0;
    left: 0;
    right: 0;
    color: black;
    bottom: 0;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.015px;
    position: absolute;
    align-self: center;
    display: flex;
    justify-content: center;
}

.heading-style-h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.027px;
    margin-bottom: 8px;
}

.paragraph-style {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.065px;
    color: #424242;
}

@media only screen and (max-width: 768px) {
    .exclusive-subtext {
        font-size: 10px;
    }

    .oz-custom-popup {
        align-items: end;
        bottom: -100%;
        top: auto;
    }

    .oz-custom-popup.show {
        top: 0;
        bottom: 0;
    }

    .oz-custom-popup-body h4 {
        margin-bottom: 16px;
    }

    .send-cta .button {
        margin-top: 16px;
    }
}