.oz-cross-btn {
    position: absolute;
    right: -8px;
    top: -58px;
}

.oz-custom-popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 8px;
}

.oz-custom-popup.show {
    display: flex;
    z-index: 100000;
}

.oz-custom-popup-body {
    background: #fff;
    padding: 20px;
    max-width: 420px;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    position: relative;
}

.oz-custom-popup-body h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin: 0 0 8px;
}

.oz-custom-popup-body h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.oz-custom-popup-body .oz-input-group {
    margin: 16px 0 0;
}

.oz-input-group .oz-input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #B3B3B3;
    padding: 10px 18px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.send-cta .button {
    color: white;
    background-color: #6bbd58;
    border: none;
    width: 100%;
    border-radius: 6px;
    margin-top: 16px;
    font-size: 14px;
    height: 48px;
    cursor: pointer;
}

.send-cta button[disabled],
.send-cta .button[disabled] {
    background-color: #F2F2F2;
    color: #B3B3B3;
}

.accept_website_policy {
    font-size: 12px;
    color: #707070;
    padding: 10px 0 0 0;
    text-align: left;

    .new-tab-info {
        visibility: hidden;
        background-color: black;
        min-width: 60px;
        color: #fff;
        border-radius: 2px;
        padding: 8px;
        position: absolute;
        z-index: 1;
        top: -7px;
        left: 69px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.015em;
        white-space: nowrap;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    .new-tab-info:before {
        content: '';
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 30px;
        bottom: -5px;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
    }
    a[target="_blank"]:hover .new-tab-info,
    a[target="_blank"]:focus .new-tab-info,
    a[target="_blank"]:hover .new-tab-info:before,
    a[target="_blank"]:focus .new-tab-info:before,
    button[target="_blank"]:hover .new-tab-info,
    button[target="_blank"]:focus .new-tab-info,
    button[target="_blank"]:hover .new-tab-info:before,
    button[target="_blank"]:focus .new-tab-info:before{
        visibility: visible;
        opacity: 1;
    }
}

.accept_website_policy button {
    color: #6BBD58 !important;
    line-height: 18px;
    background: transparent;
    border: 0;
}

.accept_website_policy span {
    color: #6BBD58 !important;
}

.accept_website_policy button[disabled] {
    color: #B3B3B3 !important;
}

.fetch-address-container {
    margin-top: 16px;
    text-align: left;

    .label-txt {
        color: var(--grey_scale_dark_grey, #424242);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        display: block;
        height: 20px;
        padding-top: 3px;
    }
}

.powered-by {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    color: var(--grey_scale_silver_grey, #BDBDBD);
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    gap: 4px;
}

@media only screen and (max-width: 768px) {
    .oz-custom-popup {
        align-items: end;
        // justify-content: flex-end;
        bottom: -100%;
        top: auto;
    }

    .oz-custom-popup.show {
        top: 0;
        bottom: 0;
    }

    .oz-custom-popup-body h4 {
        font-size: 18px;
        line-height: 21px;
    }

    .oz-custom-popup-body h3 {
        font-size: 13px;
        line-height: 15px;
    }

    .send-cta .button {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 365px) {
    .fetch-address-container {
        .label-txt {
            margin-bottom: 16px;
        }
    }
}