.policy {
    max-width: 760px;
    /* max-width: 65ch; */
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    h1 {
        text-align: center;
    }
}

.page-width {
    padding-left: 55px;
    padding-right: 55px;
    max-width: 1200px;
    margin: 0 auto;
}