.skeleton-container {
    max-width: 1080px;
    width: 90%;
    margin-top: 25px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.skeleton-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}

.skeleton-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 25px;
    padding-right: 16px;
    padding-left: 16px;
}

.skeleton-card .image img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.skeleton-card.is-loading .image,
.skeleton-card.is-loading h1,
.skeleton-card.is-loading h2,
.skeleton-card.is-loading h3,
.skeleton-card.is-loading p,
.skeleton-card.is-loading li,
.skeleton-card.is-loading span,
.skeleton-card.is-loading .option-button,
.skeleton-card.is-loading .buy-button {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.skeleton-card.is-loading .image {
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.skeleton-card.is-loading h3,
.skeleton-card.is-loading h2,
.skeleton-card.is-loading h1 {
    height: 24px;
}

.skeleton-card.is-loading p {
    width: 150px;
    height: 27px;
}

.skeleton-card.is-loading li {
    height: 15px;
    width: 150px;
}

.skeleton-card.is-loading h3 {
    width: 150px;
}

.skeleton-card.is-loading span {
    width: 100%;
    display: block;
    height: 18px;
}

.skeleton-card.is-loading .option-button {
    width: 120px;
    height: 36px;
    margin-bottom: 0;
}

.skeleton-card.is-loading .buy-button {
    width: 200px;
    height: 40px;
}

.card-banner-skeleton {
    aspect-ratio: 760/183 !important;
    height: auto !important;
    width: calc(50% - 8px) !important;
}

.circle-bubble-skeleton {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
}

.product-card-skeleton {
    display: flex;
    width: 100%;
    gap: 16px;
}

.product-card-skeleton-img {
    aspect-ratio: 1/1 !important;
    height: auto !important;
    margin-bottom: 16px !important;
}

.product-card-skeleton .flavour-list {
    width: 33.333%;
    margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
    .skeleton-container {
        width: 100%;
    }

    .product-card-skeleton {
        flex-wrap: wrap;
    }

    .product-card-skeleton .flavour-list {
        width: calc(50% - 8px);
    }

    .circle-bubble-skeleton {
        width: 50px !important;
        height: 50px !important;
    }

    .oz-tag-group {
        gap: 8px;
    }
}