.oziva-cart-body {
  .oz-subscription-popup {
    .oz-logo-head img {
      width: 130px;
    }
    .svg-block svg {
      display: block;
    }
    .oziva-cart-left{
      padding-right: 8px !important;
    }
    .oziva-mob-container {
      background: rgb(245, 245, 245);
      width: 100%;
      height: 100vh;
      overflow: auto;
      .oziva-header {
        .web-cart-head {
          &:before {
            border-top-color: $primaryGreen;
          }
          .head-navtab {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            .list-item {
              list-style: none;
              a,
              span {
                display: inline-block;
                vertical-align: middle;
                line-height: 10px;
                background: $white;
                padding: 0 8px;
                font-size: 12px;
                letter-spacing: 0.01px;
                color: $primaryGreen;
                img {
                  float: left;
                  margin-right: 4px;
                }
              }
            }
          }
        }
      }
      .footer-icons-group {
        padding: 0 16px;
      }
    }
    &[data-ml-modal]:target {
      bottom: 0;
      top: 0;
      padding: 0 !important;
    }
    .oz-accordion {
      .tab-label{
        padding: 8px 4px;
      }
      .payment-subtitle {
        margin-left: 15px;
      }
    }
  }
  .address-tag-buttons{
   .btn{
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    font-size: 12px;
   }
  }
  .submitBtn {
    background: #fff!important;
    padding: 8px;
  }
  .pincodeErrorMessage {
    color: #CD201F;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 16px;
    line-height: 17px;
    letter-spacing: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .oz-subscription-popup {
    bottom: 0;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
    .oziva-mob-container {
      height: 100% !important;
      overflow: auto;
      padding-bottom: 120px;
    }
    .subscription-main {
      padding: 0 !important;
      .sticky-m-bottom {
        padding: 8px;
        background: $white;
        bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 2;
        .bg-secondaryDeepGreen {
          margin: 0 -8px;
        }
        .footer-dtl-mob {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          .submitBtn{
            padding: 0;
          }
          .btn {
            padding: 11.5px 8px;
          }
        }
      }
      .oz-accordion {
        border: 0;
        .tab {
          border: 1px solid #e0e0e0;
          letter-spacing: 0;
          background: #fff;
        }
      }
      .pincodeErrorMessage {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0px;
      }
    }
    .prod-sum-accordion {
      .tab-label {
        padding: 16px 16px 12px;
        font-size: 14px;
        line-height: 24px;
        color: $off-gray;
        position: relative;
        background: $white;
        &::after {
          left: 190px;
          top: 16px;
          position: absolute;
        }
      }
      .tab .tab-content {
        padding-left: 16px;
        padding-right: 16px;
        background: $white;
      }
    }
    .cart-footer {
      position: fixed !important;
      width: 100% !important;
    }
  }
  .oziva-cart-body .oz-subscription-popup .oziva-cart-left {
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: 414px) {
  .oz-subscription-popup
    .subscription-main
    .sticky-m-bottom
    .footer-dtl-mob
    .btn {
    padding: 11.5px 8px;
  }
}
