// Primary Colors
$primaryGreen: #6bbd58;
$lightGreen: #def6de;
$primaryPahadiCitrus: #f04e23;
$white: #ffffff;
$red: #ff0707;
$orangeVibrantShade: #FF6F00;

// Primary Green Colors Shades
$primaryGreenSG400: #b0dda7;
$primaryGreenSG300: #c8e6c8;
$primaryGreenSG200: #f1ffee;
$primaryGreenSG100: #f0faf0;

// Primary Pahadi Citrus Colors Shades
$primaryPahadiCitrusPC400: #fe8b6c;
$primaryPahadiCitrusPC300: #f7b2a1;
$primaryPahadiCitrusPC200: #f9d2c7;
$primaryPahadiCitrusPC100: #fcf0ed;

// Secondary Colors
$secondaryDeepGreen: #006e5a;
$secondaryCandyPink: #d97878;
$secondaryAcaiBerry: #812c6d;
$secondaryFloralViolet: #474390;
$secondaryGulabiPink: #eb6b7e;
$secondarySkyBlue: #00bbd6;
$secondaryTurmericYellow: #fecc0e;

// Grey Scale
$black: #333030;
$gray: #424242;
$off-gray: #7e7e7e;
$light-gray: #f5f5f5;
$light: #f2f2f2;
$off-light: #bdbdbd;
$border-gray: #e0e0e0;