.offer-nudge-you-pay {
    color: #F04E23;
    font-size: 18px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    .coupon-code-text {
        font-size: 18px;
    }
}

.offer-nudge-container {
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    background: linear-gradient(91deg, rgba(195, 253, 255, 0.48) 3.82%, rgba(239, 255, 169, 0.60) 81.31%);
    padding: 16px 8px;
    margin-bottom: 16px;
    display: block;

    .offer-nudge-heading {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .offer-nudge-main-heading {
            color: #2C4F39;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
        }

        .cta-container {
            border-radius: 4px;
            background: #FF6F00;
            color: white;
            font-size: 12px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            cursor: pointer;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            padding: 8px 8px;
            width: 170px;
            height: 36px; //Fixed height because of multiple animated text 

            .cta-image {
                width: 20px;
                height: 20px;
            }
        }

        .applied-state {
            color: #F04E23;
            font-size: 18px;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 2px;
        }

    }
}

.cash-and-coupon-container {
    border-radius: 4px;
    background-color: #474390 !important;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-size: 12px;


    .available-offers-text {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 500;
    }

    .cash-and-coupon-uppar-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .cash-and-coupon-lower-container {
        width: 120px;
        display: flex;
        align-items: center;
        margin-left: 26px;

        svg {
            path {
                fill: #FFF;
            }
        }
    }

}

@media only screen and (max-width: 389px) {
    .offer-nudge-container {
        .offer-nudge-heading {
            .offer-nudge-main-heading {
                font-size: 16px;
            }
        }
    }
}